[2019-05-06 18:27] antfu opened #1 "Not watch direct file changes"

[2019-05-06 18:28] antfu opened #2 "Keeps writing data even not text changed"

[2019-05-08 06:50] antfu commented on #1
fixed

[2019-05-08 06:50] #1 closed

[2019-05-08 06:50] #2 closed

[2019-05-21 08:26] farfromrefug opened #3 "not working with Code Insiders"
It does not seem to work for me. I am using the latest Code Insiders.
<img width="1832" alt="Screen Shot 2019-05-21 at 10 24 29" src="https://user-images.githubusercontent.com/655344/58080051-b30ed680-7bb2-11e9-956a-1c4557e91828.png">
For some reason the extension wont activate?
Though it is enabled.
Any idea?
Thanks

[2019-05-21 09:27] antfu commented on #3
@farfromrefug Are you working in a workspace?

As far as I know, this plugin won't work with workspace for now. The code need to be heavy reconstructed but unfortunately I am busy working on another project. It may come with a fix when I am available.

For now, if you are working under a workspace, simplify save the workspace and open the desire project alone and you are good to go. 👻

[2019-05-21 09:43] farfromrefug commented on #3
@antfu i am not working with a workspace. But after digging into the code i fould the issue. I did not have ```vue-i18n``` as a dep! (was not needed for me).
Maybe you could check for ```vue``` instead of ```vue-i18n``` to see if the project is a vue project?

BTW are you going to keep. merging from https://github.com/think2011/vscode-vue-i18n? it seems to be quite heavily maintenained (but not tr

[2019-05-21 09:49] antfu commented on #3
@farfromrefug I am forked from the original repo. I have contacted the author and he is to busy too maintain the project. That why I made this repo.

I will add an warning in readme for now about know issuse, thank you.

[2019-05-21 09:50] #3 closed

[2019-06-02 09:54] antfu opened #4 "Copy paste is broken"

[2019-06-03 02:53] #4 closed

[2019-06-05 13:06] antfu opened #8 "Better progress bar"
Currently the progress bar looks weird on Windows

![image](https://user-images.githubusercontent.com/11247099/58958426-760f2a80-87d5-11e9-8b03-8086ff83926d.png)

I am not sure if this problem also exists on macOS and Linux. **Screenshots are welcome**

It should be a better workaround.

[2019-06-08 16:48] cannap opened #16 "nuxt-i18n"
Hi, package looks very usefull but when i try with nuxt nothing shows up

[2019-06-09 01:02] antfu commented on #16
@cannap Hey, thanks for the feedback. Just released another version with the fix. Would you like to try if you still have the problem on `v0.17.1`? 😁

[2019-06-09 08:54] cannap commented on #16
hi thanks for the fast reply now i can see the icon but nothing shows up
  "vue-i18n-ally.localesPaths": "lang",

the folder contains de.json and en.json

when restart the editor this message shows up
Vue i18n Ally: Locales path auto set to ""

[2019-06-09 09:05] antfu commented on #16
@cannap This might be a bug. I would try to reproduce.

[2019-06-09 09:11] cannap commented on #16
i am on windows 10

[2019-06-09 09:12] antfu commented on #16
@cannap This seems working for me:
![image](https://user-images.githubusercontent.com/11247099/59157214-6f382e80-8ad9-11e9-8ecb-652d7415e98a.png)

The `lang` folder won't be auto detected, but a custom setting should work.

Do you set the `"vue-i18n-ally.localesPaths": "lang"` in the global settings or workspace settings?

[2019-06-09 09:15] cannap commented on #16
oh it works i have no idea i had "locales" in .vscode folder/settings and lang in the global one sry^^

[2019-06-09 09:17] antfu commented on #16
@cannap Does it work for you now?

[2019-06-09 09:18] cannap commented on #16
yes

[2019-06-09 09:19] antfu commented on #16
Closing now, thank you 😁 @cannap

[2019-06-09 09:19] #16 closed

[2019-06-11 05:15] #8 closed

[2019-06-17 07:28] JJBocanegra opened #25 "Inline annotation doesn't work if the JSON is flat"
If you use a plain tree to organize the translations in the JSON, the extension won't work correctly.

It will detect the translation on it's own menu but won't detect it on inline annotations like this example:
![imagen](https://user-images.githubusercontent.com/5797636/59585912-e5442300-90e1-11e9-973c-738d94c6c142.png)

But if I use the classic tree in JSON it will work correctly:
![imagen](http

[2019-06-18 04:25] antfu commented on #25
@JJBocanegra Thank you for the feedback!

I might need to think about a proper way to support that.

My quick thought is add a config to determine the mode of parser. Something like
[code]

What do you think?

[2019-06-18 05:31] JJBocanegra commented on #25
That would work for me! 😄

But maybe call it something like `json-mode` or `locale-json-mode` to be more specific.

Also I'm new to VSCode extensions but could I ask you to show me where is the related code? Maybe I can think on something to avoid having a new parameter in the configuration 🤔

[2019-06-18 05:40] antfu commented on #25
People use YAML or JS format may also use this "flatten" style. I would prefer it's an organizing style rather than a format specified "mode".

My main concern about introducing this new config is making user confuse without reading the docs and becoming not quite "out-of-box".

[2019-06-18 05:42] antfu commented on #25
Related code
https://github.com/antfu/vue-i18n-ally/blob/f9eb73f325752c67435cd928a33039ca0db17e55/src/core/LocaleLoader.ts#L95-L106

[2019-06-18 05:49] antfu commented on #25
Also went it comes to writing, it uses lodash to set the key. This may also need to change.

https://github.com/antfu/vue-i18n-ally/blob/da6a9ac2f84fbb9076ee4af270fad483875e7c1e/src/core/LocaleLoader.ts#L303

[2019-06-18 09:50] JJBocanegra commented on #25
What about something like this?

[code]

[2019-06-18 09:56] antfu commented on #25
@JJBocanegra Great solution!

How about writing? Editing and translating will modify the locales file. How can we determine which style would user like to save?

I would do some experiment.

[2019-06-18 10:09] antfu commented on #25
Modify the existing keys can be handled properly. Problem comes to creating new keys.

My solution is raising a prompt letting use to choose the mode on the first time saving. Then store the mode into config so user would not be bothered next time.

[2019-06-18 10:28] JJBocanegra commented on #25
Or you could check if the JSON is flat or not, and take the decision then and if there is a mix of both modes then you could show the prompt asking what's the preference

[2019-06-18 10:46] antfu commented on #25
Determine whether a JSON is flat or not can be tricky. Being strict I would say a flat JSON requires two conditions:  `there is no nested object` and `at least one of the keys contains '.'` But this makes this situation failed

[code]
This should be flat but will be detected as the normal "object style". (to supporting [Number localization](https://kazupon.github.io/vue-i18n/guide/number.html) and

[2019-06-18 10:53] JJBocanegra commented on #25
That example is a mix of both modes, when that happens the prompt should appear and ask the user what's the preference 😄

[2019-06-18 11:06] antfu commented on #25
Haha good point. I would start to implement now.

[2019-06-18 11:07] JJBocanegra commented on #25
I was trying to remember what was doing a library that I used the last year for localisations, and it just converted all to flat or to tree, but don't let you mix both modes 🤔.

Maybe you could do the same, force the user to choose a mode (is a good practice after all) and convert the JSONs to the mode used.

[2019-06-18 13:17] antfu commented on #25
@JJBocanegra I released a new version just now. Please update to `v0.20.0` to see if it solves your case.

[2019-06-18 15:25] JJBocanegra commented on #25
Now it's working! But I discovered another little issue, I'm going to open a new one.

Thanks @antfu and great work! 😄

[2019-06-18 15:25] #25 closed

[2019-06-18 15:32] JJBocanegra opened #27 "Inline annotation doesn't work if backticks are used"
If you use single or double quotes to define the key to translate like `$t('FOO')` or `$t("FOO")`  it will show the inline translation correctly
![imagen](https://user-images.githubusercontent.com/5797636/59697880-e8790500-91ee-11e9-8017-22840ac23099.png)

but if backticks are used  `` $t(`FOO`) `` then it doesn't work

![imagen](https://user-images.githubusercontent.com/5797636/59697918-f4fd5d80-

[2019-06-18 15:48] antfu commented on #27
Fixed 😄

[2019-06-18 16:11] JJBocanegra commented on #27
I'm sorry for reopening the issue, but now when I translate a a key like `` $t(`FOO.${key}`) `` it will look for that key literally.

![imagen](https://user-images.githubusercontent.com/5797636/59700729-3fcda400-91f4-11e9-82dc-87de8e28a42a.png)

The easy way is to roll back the commit of the backticks and just don't support them 😅

[2019-06-18 16:21] antfu commented on #27
@JJBocanegra I fixed that. By make the key strings only contains words and dots. The original issue will still works.

[2019-06-18 16:25] JJBocanegra commented on #27
👏

[2019-06-18 16:25] #27 closed

[2019-06-18 16:27] antfu commented on #27
Thank you 😁

[2019-06-19 16:21] acbetter opened #30 "unexpected supported locales"
Always in dir-locales mode. Not sure happened in other mode.

My excepted result:
![image](https://user-images.githubusercontent.com/13360124/59783133-0bd8a880-92f2-11e9-8826-0d4260ce8314.png)
And the reality is:
![image](https://user-images.githubusercontent.com/13360124/59783189-2d399480-92f2-11e9-940c-0e299f4ba741.png)

I use the test file in the `test/fixture/dir-locales`.

~~I will add info l

[2019-06-19 21:03] #30 closed

[2019-06-24 13:41] iskanderbroere opened #39 "nl.json does not work in 0.22.3 and higher"
0.22.4:
<img width="282" alt="Screenshot 2019-06-24 at 15 36 51" src="https://user-images.githubusercontent.com/25477294/60023468-2619da00-9696-11e9-95ba-729c4d12c7b2.png">
0.22.2:
<img width="281" alt="Screenshot 2019-06-24 at 15 36 28" src="https://user-images.githubusercontent.com/25477294/60023516-3d58c780-9696-11e9-8d64-fc9b5ca58f80.png">

Reproducible by adding `test/fixture/basic/locales/nl

[2019-06-24 15:04] antfu commented on #39
@iskanderbroere I would investigate it soon. Thanks for the feedback

[2019-06-24 16:41] antfu commented on #39
@iskanderbroere Hi. Please update to v0.22.5. It should work.

[2019-06-25 06:52] iskanderbroere commented on #39
Thanks it does

[2019-06-25 06:52] #39 closed

[2019-06-26 10:08] acbetter commented on #39
Commit a32a4c8462c6d2aa77347fbf4ebf74b8509c03dd fix issue #39 but casue #30 .

[2019-06-26 10:14] antfu commented on #39
@acbetter I would try a different approach to do that. Please rollback to previous version for your case before the fix. Thanks

[2019-06-26 10:55] antfu commented on #39
@acbetter A fix is released in v0.22.6. Also a additional config `vue-i18n-ally.dirStructure` is introduced in this release. You can explicitly set the preferred structure.

Sorry for the inconvenience. I would write some test soon.

[2019-06-26 15:16] acbetter commented on #39
Thanks @antfu for quickly fixing bug and it works for me at this version. Here's my test files, hope it's helpful.
[dir-locales-mix.zip](https://github.com/antfu/vue-i18n-ally/files/3330759/dir-locales-mix.zip)

[2019-07-10 07:10] maninak opened #45 "Support passing folder structure map as a config to the plugin"
In our case of a sizeable vue app, we have solved the problem of locale messages needed in both the FE and the BE with the use of an npm package (which will also change soon as we bring together the FE, BE and shared libs in a monorepo).

By that definition, our folder/file structure does fail to map with the expected structure of this vscode plugin as our messages are not even in the `src` folder

[2019-07-10 09:28] antfu commented on #45
You can already config the structure in some way. Although it's haven't be well documented yet.

`vue-i18n-ally.localesPaths` accept an array of glob patterns which allows you to specify the folders containing your messages.

`vue-i18n-ally.matchRegex` accept a regex allows you to map the filenames. The first group in regex should be the locale code.

For example in your case, you can config like

[2019-07-10 09:29] antfu opened #46 "`.js` locales hot reload"
`esm` package would not reload modules properly

https://github.com/antfu/vue-i18n-ally/blob/master/src/parsers/JavascriptParser.ts

[2019-07-10 09:30] antfu opened #47 "Adding `.ts` locale format support"

[2019-07-10 11:20] renestalder commented on #47
Is this the reason while I get `Cannot read property 'getTreeNodeByKey' of undefined` probably? I only have Vue projects with TypeScript.

[2019-07-10 11:33] antfu commented on #47
@renestalder could you provide a minimal repo of your problem?

To be clear, Ts support in this issue means the loading for ts locale messages. It does not matter which languages you use in your project.

[2019-07-10 11:50] renestalder commented on #47
Ah okay then sorry for the noise. I'll test it in a second TypeScript project and create an issue with reproduction if it also happens there.

[2019-07-10 17:59] #46 closed

[2019-07-10 18:00] antfu commented on #47
Supported from 0.24.x

[2019-07-10 18:00] #47 closed

[2019-07-11 11:25] maninak commented on #45
Thank you for the quick and thorough reply.

This is the config that ended up working for me:

[code]

The locales are getting picked up correctly. I still have some issues though:

1. The message keys are not getting resolved correctly. If you inspect the image you'll see that for both objects `MESSAGES_DE` and `MESSAGES_EN` the keys resolve with the german translation value (instead of the actua

[2019-07-11 11:25] #45 closed

[2019-07-11 14:01] antfu commented on #45
@maninak For me, it's always better to cover as much scenarios as possible. Both small projects and large well-organized projects. Thanks you so much for providing such detailed use case and examples. It well a good reference as I continue to develop.

And I really hope it can work for you in someway. Here a some replies to you questions and future plans for this project.

First of all, there are

[2019-07-12 09:03] JJBocanegra opened #50 "It stopped working for every version after 0.23.0"
Every version after that is not working anymore, some don't even display the icon in the toolbar, and the last one that does show it it's all empty, it seems that it doesn't get any locale file.

[2019-07-12 11:54] antfu commented on #50
Could you please provide the relevant logs in Developer Tools of VSCode?

![image](https://user-images.githubusercontent.com/11247099/61126234-87d3a400-a4de-11e9-97ef-3a36527a1361.png)

If there is nothing about `Vue i18n Ally`, please checkout the `Vue i18n Ally` channel of output panel.

![image](https://user-images.githubusercontent.com/11247099/61126322-b5205200-a4de-11e9-909c-b6c8f2728b3e.png

[2019-07-13 19:43] AlbatiQue opened #51 "There is no data provider registered that can provide view data. te"
I got the following message in the Progress and tree section.
I'm on Mac-os X
Latest version of VsCode
Working on vue-i18n on nuxt.js.

In the output it says it's activated and enabled.

Thanks! Looking forward to using this plugin!

[2019-07-13 20:18] antfu commented on #51
Hi! Could you provide a minimal repo to reproduce this problem? Thanks

[2019-07-13 21:27] antfu commented on #51
I have fixed some bugs may relate to this issue.

Please do the following steps, see if it's fixes your problem.

1. Update the plugin to `v0.24.8`
2. Remove the `vue-i18n-ally.localesPaths` in `.vscode/settings.json` if it's not manually set by yourself.
3. Reload VSCode window

Thank you and sorry for any inconvenience.

[2019-07-13 21:28] antfu commented on #50
Hey, I have fixed some bugs may relate to this issue.

Please do the following steps, see if it's fixes your problem.

1. Update the plugin to `v0.24.8`
2. Remove the `vue-i18n-ally.localesPaths` in `.vscode/settings.json` if it's not manually set by yourself.
3. Reload VSCode window

Thank you and sorry for any inconvenience.

[2019-07-15 06:51] AlbatiQue commented on #51
Hi!!
Thanks seems to work fine now!
Awesome Thanks!

[2019-07-15 08:19] monoeos opened #55 "icon messy code in mac"

[2019-07-15 20:32] antfu commented on #55
@monoeos Hi! Would you provide more information about this?

[2019-07-15 23:56] antfu opened #56 "Single File Components i18n Support"
**Edit: 2019-07-29**

Experimental support for SFC is landed in v0.29.0, please check out the release note for more details.

https://github.com/antfu/vue-i18n-ally/releases/tag/0.29.0

----

[vue-i18n](https://kazupon.github.io/vue-i18n) has a feature allow user to define their locale messages in the [`i18n` section of Single File Components(SFC)](https://kazupon.github.io/vue-i18n/guide/sfc.html

[2019-07-16 08:26] JJBocanegra commented on #50
Hi @antfu, sorry for the delay this days. Removing the `vue-i18n-ally.localesPaths` fixed the issue at least with the version `0.25.1`, thanks!

[2019-07-16 08:26] #50 closed

[2019-07-16 08:28] JJBocanegra commented on #56
I don't use them and never had to, I think it's a bad practice to use them so maybe you should avoid all that work, but that's my opinion :P

[2019-07-16 15:27] Blemming opened #57 "Trouble with nested properties"
In my en.json I have :
[code]

![image](https://user-images.githubusercontent.com/12241815/61307532-834c0b80-a7bc-11e9-9c72-b54933ac87eb.png)

but in my component when I click the edit the translation it creates a new property at the end of my en.json file:
[code]

Instead of modifying the existing nested one.

Is there something I am missing? Do I have to turn on an option to support the nested p

[2019-07-17 05:57] cannap opened #58 "Feature idea show locales on hover instead of inline"
nvm

[2019-07-17 05:57] #58 closed

[2019-07-17 08:28] antfu commented on #58
@cannap Hovers are always available.

If annotation annoys you, you can turn off it by setting as following:
[code]

[2019-07-17 08:32] antfu commented on #57
@Blemming You can set it by
[code]
by default, it will prompt for selecting mode at the first time saving translations.

I would do more test about this. Thanks.

[2019-07-17 13:15] Blemming commented on #57
Thanks, that seemed to have fixed it. I must have pressed enter too quickly to notice the prompt

[2019-07-17 13:15] #57 closed

[2019-07-17 21:29] guyaumetremblay opened #59 "Add json5 support"
Hi,

We use .json5 in our project to enable the use of comments in locales files.

Is it possible to add the support of this extension please?

Thanks in advance.

[2019-07-18 02:21] antfu commented on #59
@guyaumetremblay Hi, I would love to do that.

But I am not sure is there a way to keep comments on `json5.stringify`. If it can't, should we disable the editing / translating features in this extension for json5?

[2019-07-18 03:32] antfu commented on #59
@guyaumetremblay `JSON5` supporting is landed from `v0.26.0` 🎉

As I mentioned above, stringify won't be able to keep the comments. You make want to set this extension on readonly more by:

[code]

Fore more details please refer to https://github.com/antfu/vue-i18n-ally#comments-in-yamljson5

[2019-07-18 12:22] guyaumetremblay commented on #59
Yes, that's sad. I just saw this issue on the JSON5 repo about keeping the comments: https://github.com/json5/json5/issues/177

TLDR : the v3 of json5 will probably fix this.

[2019-07-18 12:49] guyaumetremblay opened #60 "Locale with key with hyphen doesn't show preview in SFC"
Hi,

We have keys with hyphen, like : `message.the-title`.
But the preview doesn't show in the single file component.
It display well in the tree view of the plugin.
No problem with the others keys.

FYI : Our locals files are in json5 and the plugin is in readonly.

[2019-07-18 15:16] cannap commented on #58
oh thank you

[2019-07-18 15:51] kazupon commented on #56
Hi!
This feature is great!
If you will decide this feature supporting, I'll be able to help you. :)

For large-scale application, having locale messages on an SFC basis is better for development productivity than centralized management of locale messages globally.
(In my work project, Vue app is build with 1,100 over components!)

But, the disadvantage is that we cannot manage locale messages cent

[2019-07-18 17:59] antfu commented on #60
This is a uncovered usecase in the detection regex. It will be fixed on next release. Thanks.

[2019-07-18 18:04] guyaumetremblay commented on #59
Hi again,

The new version is working as expected (in readonly as mentioned).

Thank you again! We'll follow the v3 of JSON5!

[2019-07-18 18:04] #59 closed

[2019-07-18 18:07] antfu commented on #59
I would also check out how vscode handles its setting jsons (it supports comments and preserves comments) when I got free time. 😁

[2019-07-18 18:14] guyaumetremblay commented on #59
Yep that's right!
You can re-open this issue as a reminder if you want ;)

[2019-07-18 18:52] ffxsam commented on #56
IMO putting locale messages in the SFC is not good practice. Yes, it's more convenient for the developers, but imagine hiring a localization agency to translate your entire application. Are you going to give them hundreds of .vue files?

I think it makes more sense to use the `locales/<lang>.json` files, that way you can just deliver that and be done with it.

Actually, the best scenario in my opi

[2019-07-19 05:27] antfu commented on #56
@kazupon Thank you for sharing your pov. It makes sense for me. Both `group-by-type` and `group-by-feature` methodologies have their own good aspects.

I will start considering to support sfc. I have never used them before, thus I will do some tests about its behaviors before starting to implement. Would keep you up to date. 😸

[2019-07-19 05:46] antfu commented on #56
@ffxsam I shared your concern.

But try to think about this way. At the time Vue Single File Component came out, some people said it's bad practice to put HTML/CSS/JS altogether. But the thing is that SFC offers more modularity and isolation through a large project. Storing i18n inside SFC is kinda similar to why you store CSS inside it while you can keep all of them globally.

For me, I am trying

[2019-07-19 06:07] antfu opened #61 "JSON with comments (JSONC) support"
In some use case, we may need to keep comments inside locale files. Although YAML and JSON5 supports comments, but due to the parser limitation, it's not possible to keep comments on dumping. The current workaround is to make this extension in `readonly` mode when we need to use comments.

This issue is to support `JSONC`([microsoft/node-jsonc-parser](https://github.com/microsoft/node-jsonc-parser

[2019-07-19 06:11] antfu commented on #59
@guyaumetremblay Hi. I found the parser vscode used to handle their settings.json and I opened another issue(#61) to support it.

Just as a reference, It's it possible for your project to adapt to jsonc or is there some other features in JSON5 is necessary to you? Thanks

[2019-07-19 06:18] #60 closed

[2019-07-19 06:18] antfu commented on #60
Fixed in v0.27.1

[2019-07-19 07:25] antfu opened #62 "Collection/Array support"
Currently 'array' in locales is not handled well with this extension.

https://kazupon.github.io/vue-i18n/guide/messages.html#structure

[2019-07-19 12:13] guyaumetremblay commented on #59
@antfu Sorry but I can take this decision, neither propose to move from json5 to jsonc only for a VSCode plugin. Their is 30 developers working on this project at my client side and their is only a few who use vscode :(

[2019-07-19 16:54] ffxsam commented on #56
It's a different use case though. Imagine hiring an agency to translate your application. How do you go about extracting all your `<i18n>` blocks to a single file to hand over to them?

[2019-07-21 08:27] antfu commented on #56
@ffxsam Yes, I agree with you. I my own project I need external translators too and they are not programmers (even JSON are a bit too difficult for them). What I mean here is that things are about trade-offs and I do respect all kind of methodologies to achieve things. And I believe sometime there will be some tools capable to handle this problem.

[2019-07-22 04:59] #62 closed

[2019-07-24 09:35] cannap commented on #51
hi, i have this issue with the last release

i removed "vue-i18n-ally.localesPaths": "./lang", from the global config then i reload and it tells me "Locale Path set to lang" but i have  still no DataProvider...

[2019-07-24 09:37] cannap commented on #51
when i down grad one version it works again

[2019-07-24 09:43] antfu commented on #51
@cannap Can you provide the two specific version numbers?

[2019-07-24 09:45] cannap commented on #51
atm i use 0.27.0 with 0.28.0 it stopped working Mac

[2019-07-24 09:55] antfu commented on #51
@cannap Sorry I can not reproduce this problem on my machine(I don't have a Mac).

Could you please update to 0.28.0 and provide the contents in the Output > Vue i18n Ally? Thanks.

[2019-07-24 10:57] cannap commented on #51
🈶 Activated, v0.28.0

――――――

💼 Workspace root changed to "/Users/mbolliger/xxxxx"
🌞 Enabled
🚀 Initializing loader "/Users/mbolliger/xxx"

📂 Loading locales under /Users/mbolliger/xx/xx/lang
	📑 Loading (de) de.json
	📑 Loading (en) en.js
	📑 Loading (en) en.json

✅ Loading finished

――――――

[2019-07-24 11:01] antfu commented on #51
@cannap That's weird, It's looks fine. Are you still facing `no data provider registered` ?

is `xx/xx` a typo?

[2019-07-24 13:03] cannap commented on #51
nope i noticed nothing is working

[2019-07-29 04:16] antfu commented on #56
Experimental support for SFC is landed in v0.29.0, please check out the release note for more details.

https://github.com/antfu/vue-i18n-ally/releases/tag/0.29.0

[2019-07-29 10:35] BeatrizPP commented on #51
Same thing happens to me from version 0.28. 0.27 works fine, 0.28 gives the `no data provider registered` error. Also on a Mac.

[2019-07-29 10:40] antfu commented on #51
@BeatirzPP Thanks for the information, I would test it out when I got access to a mac.

[2019-08-01 10:57] cannap commented on #51
[code]

[2019-08-01 18:26] antfu commented on #51
@cannap Thank you. That was quite useful!

New version `v.0.29.2` with the fix is released. Please update and see if it solves your problem. ☺

[2019-08-02 05:30] cannap commented on #51
yea i forgot to the check the console xD new version is working

[2019-08-02 05:34] antfu commented on #51
Glad to hear that, closing now.

[2019-08-02 05:34] #51 closed

[2019-08-25 06:36] #61 closed

[2019-08-25 06:36] #55 closed

[2019-08-28 17:31] kazupon commented on #56
I've just released out locale message management tools / library.
https://github.com/kazupon/vue-i18n-locale-message/releases/tag/v0.1.0

If you are interested, you can use it. I look forward to your feedback. 😉

[2019-08-29 09:08] antfu commented on #56
@kazupon That would be cool to integrate! Thanks for the great work!

[2019-09-17 04:05] farshadfakhar opened #90 "Problem in detect locale files"
Hi,
I used your lovely extension on my mac but when i want to configure locale files on other pcs extension doesn't detect locale files
I tried manual locale file configuration

[2019-09-19 23:49] antfu commented on #90
Would you like to share your folder structure and configuration so I may do some help? Thanks

[2019-09-22 04:23] farshadfakhar commented on #90
I use simple folder structure.
en.json and fa.json in locale folder

[2019-09-23 12:22] antfu commented on #90
What about your vscode settings?

`vue-i18n-ally.localesPaths` can be relative to your project root. If it's an absolute path, that may not work for the other machine.

[2019-09-25 05:22] farshadfakhar commented on #90
Thanks a lot man

[2019-09-25 05:22] #90 closed

[2019-09-25 05:54] antfu opened #91 "Language switch in status bar"

[2019-09-25 06:52] #91 closed

[2019-09-30 11:22] olemarius opened #97 "Need to restart vs code to update"
Nothing seems to update before restarting visual studio. Maybe add a update button for manually refreshing vue i18n ally ?

[2019-09-30 15:51] antfu commented on #97
Can you have some steps to reproduce? Thanks

[2019-10-05 10:44] #56 closed

[2019-10-07 23:52] epaezrubio opened #100 "Discover which translations are missing"
![image](https://user-images.githubusercontent.com/5560366/66357005-75e28f80-e96d-11e9-964b-47b0e0eb691f.png)

In the panel above I can see, for instance, that 4 French translations are missing. However I can't know which ones they are and if you consider translation files of some hundreds of lines, it can be hard to find them.

Can we make each of the languages expandable to see the specific miss

[2019-10-08 04:08] antfu commented on #100
@epaezrubio Great idea!
I am on vacation currently. Will dig into that next week.
Thanks!

[2019-10-15 07:23] Starpuccino commented on #97
I got 3 files
|--en.ts -> import home
|----home.ts -> import component
|------component2.ts
After editing component2.ts, side bar tree doesnt update until I reboot vscode

[2019-10-28 10:44] Niekvdm commented on #97
Sometimes it does automatically update the progress, but most of the time it doesn't.
I can reproduce this anytime by added a new key through hovering and clicking the pencil button. It does add the translation to the .json file but it does not display the value in the i18n ally sidebar or hovering over the key in a .vue file.

Dutch locale available, English locale not found.
![step-1](https://us

[2019-10-28 15:45] antfu commented on #97
@Niekvdm @Starpuccino Thanks! Will fix this soon.

[2019-10-28 16:36] antfu commented on #97
Sorry for all the delay. The fix is live on version 0.29.8. Please upgrade and see if it solves your issue. Thanks.

[2019-10-28 16:39] Niekvdm commented on #97
Thanks for the quick update! I will test it tomorrow when I'm back at work.

[2019-10-29 08:07] Niekvdm commented on #97
@antfu That did the trick, it's working as intended now. Thanks again!

[2019-10-30 01:58] Starpuccino commented on #97
emmm still have the problem...
added a new key in the .js file manually but it does not display the value in the i18n ally sidebar or hovering over the key in a .vue file.
↓My JS translation document structure↓
![捕获](https://user-images.githubusercontent.com/33953383/67822390-2f5efb80-fafb-11e9-970a-0569dd7f5698.PNG)

[2019-10-30 02:53] antfu commented on #97
@Starpuccino oh, I didn't expect that use case. I will add nested folders support soon. Thanks for sharing.

BTW, may I have your vue-i18n-ally configs as a reference?

[2019-10-30 03:09] Starpuccino commented on #97
@antfu
Thanks soooo much!
    "vue-i18n-ally.displayLanguage": "zh-CN",
    "vue-i18n-ally.annotationMaxLength": 20,
    "vue-i18n-ally.sourceLanguage": "zh-CN",
Is what I uploaded right?
[i18n.zip](https://github.com/antfu/vue-i18n-ally/files/3786723/i18n.zip)

[2019-10-30 05:20] antfu commented on #97
@Starpuccino Do you have  "vue-i18n-ally.localesPaths" or "vue-i18n-ally.matchRegex" in config? Your structure doesn't seem working by default.

[2019-10-30 05:54] Starpuccino commented on #97
@antfu No, other configs are default.
My structure works well, just sidebar and inline previews are not automatically updated

[2019-10-30 07:01] antfu commented on #97
The lack of updating is caused by the module cache. I still can not found a way to bypass the esm cache. If anyone has knowledge in esm, **I may need some help.**

https://github.com/antfu/vue-i18n-ally/blob/03093c9b754438e11b2aa608c65c848d21968708/src/parsers/JavascriptParser.ts#L30

By adding `mtime` query, I managed to bypass the cache of the given file. But not luck for other files imported by

[2019-11-06 11:15] farfromrefug commented on #100
I really need that too. An amazing feature would be to automatically add all missing keys in the JSON files.
Why? Because when you work with tools like weblate, it wont "discover" missing translations. adding empty entries make them discovered by tools like weblate (others too)

[2019-11-07 04:01] antfu commented on #100
Just released v0.30.0 with this feature implemented!

Please feel free to share your thoughts then we can do further enhancement!

[2019-11-07 12:18] farfromrefug commented on #100
@antfu how do i trigger the command to add all missing keys? Cant find it

[2019-11-07 16:00] farfromrefug commented on #100
@antfu great! i see the the translate all missing button for the non "en" language.
Could you add a button just to "create" the missing keys (with "" value) ? It shoud be available for all languages
BTW how do you treat translation value ```""``` ?  do you treat it as a missing translation? (that is what i would hope for).

I am starting to use weblate to allow my clients to translate my apps. Web

[2019-11-08 06:31] antfu commented on #100
@farfromrefug Sure! Thanks for the advice.

It's implemented in v0.32.0. 🎉

[2019-11-12 17:31] BeatrizPatricioEvollu opened #106 "Bullet icon on translation preview doesn't show on Mac"
It's a really minor thing, but the square looks weird.

<img width="396" alt="Captura de ecrã 2019-11-12, às 17 27 23" src="https://user-images.githubusercontent.com/56635786/68694945-ff3f4000-0571-11ea-9bc9-3bc327477300.png">

[2019-11-13 02:21] antfu commented on #106
@BeatrizPatricioEvollu Thanks! May I have the name of the font you're using? I may replace the symbol with a better one.

[2019-11-13 03:07] antfu commented on #106
I have changed the delimiter to `·` in v0.33.0, it should work for most of the cases.

Alongside, a new config `vue-i18n-ally.annotationDelimiter` is introduced in this update. You can customize the delimiter as you want.

[2019-11-13 09:57] wushan opened #107 "How 'translate' works ?"
I have settled the en locale as `display` and `source`, but when I tried to use the automatic translate button, all value returns like `????`, so how does this translate button works ? Am I using the wrong way ?

<img width="450" alt="Screenshot 2019-11-13 17 54 46" src="https://user-images.githubusercontent.com/3633628/68752742-cb7e1c00-063e-11ea-8c7f-7bf49716aee8.png">

[2019-11-13 10:43] BeatrizPatricioEvollu commented on #106
It's great, thanks!

<img width="389" alt="Captura de ecrã 2019-11-13, às 10 40 48" src="https://user-images.githubusercontent.com/56635786/68756593-4412b780-0602-11ea-82da-5029ea5708e1.png">

[2019-11-13 13:32] #106 closed

[2019-11-13 13:43] antfu commented on #107
It works in my case though. I would like to help you address the issue.

Could you provide the following information

1. The original text in English
2. The encodings you are using for the `zh-CN` and `en-US` files.
3. Are other Chinese characters displayed correctly in the `zh-CN` file?

Thanks

[2019-11-13 13:45] antfu commented on #100
@epaezrubio Closing this for now. If you have any problems or suggestions, feel free to reopen this or create n new issue.

[2019-11-13 13:45] #100 closed

[2019-11-18 07:51] lllopo opened #110 "Custom package.json path support"
I'm running a project where the Vue setup is inside a PHP project and therefore - the package.json file is not in the root of the workspace. VS Code works fine, since it supports scanning recursively for package.json, but this extension says it cannot detect it. So, I'd like to request either a setting, so I can set a custom path for package.json (or let's say a relative custom root would be maybe

[2019-11-18 12:59] antfu commented on #110
@lllopo Thanks for the advice! I would definitely consider that.

Before any implementation landed, you can set `"vue-i18n-ally.forceEnabled": true` in settings to make it works. (please be sure to update to the leasest version)

[2019-11-19 08:18] lllopo commented on #110
Yeah, I already tried this, but with no success. Maybe there are other stuff in my project, that are not compatible or something.

[2019-11-19 09:53] antfu commented on #56
FYI, from v0.36.0. We are now using [vue-i18n-locale-message](https://github.com/kazupon/vue-i18n-locale-message) as the engine of SFC loader.

Benefits from @kazupon 's great work, we now support SFC editing, which means you can use `full features` (translating, refactoring, etc) for SFCs! 🎉

[2019-11-22 15:13] antfu opened #114 "Angular native i18n"
**What framework do you want to have? Please provide links of its i18n solution/package.**
Angular

https://angular.io/guide/i18n

**Please provide some overall screenshots about how the i18n usage would be like**

[code]

**Please provide a minimal starter project**
Already included in the examples
https://github.com/antfu/i18n-ally/tree/i18n-ally/examples/angular

**Additional context**
Things t

[2019-11-25 11:35] tamj0rd2 opened #118 "False positive "translation of key is missing" for functions that end with a t"
Steps to reproduce

1. Create a file like `dosomething.spec.ts`
2. Add the line `it('does stuff', () => {...})`
3. Get info highlights saying `Translation of "does stuff" is missing

I guess it sees `it()` and assumes it's the t function being called as `t()`

[2019-11-25 14:12] JorundMartinsen commented on #118
This also happens with split("-")

[2019-11-25 14:23] antfu commented on #118
@tamj0rd2 thanks! Gonna fix it soon.

[2019-11-25 14:25] antfu commented on #118
@JorundMartinsen can you provide some more specific examples? Thanks

[2019-11-25 14:28] tamj0rd2 commented on #118
Here's an example of what @JorundMartinsen raised:

`'here are some words'.split(' ')`
Info: `Translation of " " is missing`

It seems to happen for any function you call that end with a `t`

[2019-11-25 15:02] antfu commented on #118
@tamj0rd2 You are using it for React right? The bug should be fix in v1.0.1. Please try it out 😃

[2019-11-25 18:51] TheSinding opened #119 "Create key if it doesn't exist"
I don't know if this is already in there, if so, I can't get it to work.

Given
`en.yaml`
[code]

And say I use
[code]
Now this does obliviously not work.
I would like to click the "pencil" icon and just translate it from the UI and the plugin should create the key if it does not exist, instead of having to create the `label.b` key first.

In this UI
![image](https://user-images.githubusercontent.

[2019-11-26 01:26] antfu commented on #119
@TheSinding that's weired, it should create keys whenever they're not exist. I will test it out. Thanks.

[2019-11-26 01:46] antfu commented on #119
It works in my case. (during the first time you do the editing, the extension should prompt you to choose the style to manage keys. please check out whether you missed that part)

For the Danish flag, should the language locale code be `da-DK`? The flag will be displayed for `da-DK`  (I know little about this, correct me if I am wrong)

[2019-11-26 09:38] TheSinding commented on #119
You are probably right! Sorry about that

On Tue, Nov 26, 2019, 02:46 Anthony Fu <notifications@github.com> wrote:

[2019-11-26 10:15] TheSinding commented on #119
I've tried again, is this how it's suppose to work ?
Am I stupid and can't find the setting ?
![translate](https://user-images.githubusercontent.com/5576291/69620706-12f0a900-103e-11ea-9af5-dbce04ef7019.gif)

[2019-11-26 10:33] antfu commented on #119
This might be a bug. I will look into that! Meanwhile, you can use the edit function in the hover popup, I should work I suppose. Thanks for the info!

[2019-11-26 10:42] DaniGTA opened #120 "[Feature Request] Set other root path."
The 'package.json' is not in the root path of my project.

**Additional context**
Error msg:
[code]

Solution:
Let me set the root path to the angular project.
like:

"i18n-ally.projectRootPath": "folder/folder/folder",

[2019-11-26 10:48] TheSinding commented on #119
I use quasar v1.x (I don't think that's it)

Is it this function you are talking about ?
![hover](https://user-images.githubusercontent.com/5576291/69623174-a88e3780-1042-11ea-9ef1-0ad99aa95f0b.gif)

[2019-11-26 10:54] TheSinding commented on #119
I found your extension called "i18n ally" and that extension worked as intended.. I used "vue i18n ally" before, and that didn't work. I guess it was a mismatch ?

[2019-11-26 10:56] TheSinding commented on #119
I see, I've been using the wrong extension !
Goddamn, so I was an idiot (again).

But I was enjoying even the "broken" extension, so great work dude! Keep it up!

[2019-11-26 11:19] #119 closed

[2019-11-26 15:51] antfu commented on #120
Hi @DaniGTA. For now, package.json is only used to detect which frameworks you are using. In the future, we may not only support node frameworks (which are not relying on package.json). I would definitely consider how to implement this customization properly.

For now, to make it works for your project, all you need to make the setting

[code]

Hope this helps.

[2019-11-26 15:53] antfu commented on #119
@TheSinding There is a bug in the v0.x version and I have fixed that. Thanks again.

Glad to hear it works for you!

[2019-11-26 17:40] tamj0rd2 commented on #118
Thanks, it works properly now :)

[2019-11-26 17:40] #118 closed

[2019-11-26 23:45] rankjie opened #121 "[BUG] GlyphChars.ArrowUpRight can not be shown correctly on macOS 10.15.1"
**Describe the bug**
Not sure if macOS is missing the font, the ArrowUpRight icon is shown as a missing character (a blank square)

<img width="205" alt="Screenshot 2019-11-27 at 00 39 14" src="https://user-images.githubusercontent.com/772235/69681533-aa8de000-10ae-11ea-8985-13f1e6a22485.png">

![image](https://user-images.githubusercontent.com/772235/69681541-b4174800-10ae-11ea-8404-867d22610697.

[2019-11-27 01:24] antfu commented on #121
This is also shown in https://github.com/antfu/i18n-ally/issues/119#issuecomment-558573522 but it works in Windows I think. These symbols are used since the very early release of this extension and seem no problem for months. I am not sure if it's introduced by the recent update of macOS or VSCode.

I would try to find if there is some workaround for this. Thanks.

[2019-11-27 06:48] DaniGTA commented on #120
It works now thanks.

[2019-11-27 15:29] antfu commented on #121
@rankjie I have tried to use emoji for these buttons in v1.1.1. Please have a try and see whether it works on Mac. Thanks.

[2019-11-27 15:31] rankjie commented on #121
It works like a charm :)
Thank you for the swift fix.

[2019-11-27 15:31] #121 closed

[2019-11-27 18:53] feelinwavy opened #122 "Support for Namespaces"
Does it support colon notation?

How can I get things working when namespace is selected with `:`

<img width="1084" alt="Снимок экрана 2019-11-27 в 21 51 01" src="https://user-images.githubusercontent.com/47292299/69751436-25fb9a00-1160-11ea-94dd-2106675cc23f.png">

[2019-11-28 04:28] #107 closed

[2019-11-28 04:28] #110 closed

[2019-11-28 05:38] antfu commented on #122
@feelinwavy Wow, first time to see such syntax! I would love to support it if possible. May I have more information listed below?

- The framework/i18n package you are using
- Some document links about the "namespace" feature

Thanks!

[2019-11-28 07:00] lllopo opened #123 "[BUG] [Vue] Translations nesting outside language file are not detected"
When the nesting is done outside the language file it is not detected and the translation is reported as missing.

Steps to reproduce the behavior:
1. Create several language files, like "a.json", "b.json" etc. with a translation entry "test" in "a.json"
2. Configure Vue i18n in the following :
[code]
3. Try using the translation in a Vue single file component like this ({{ $t("A.test") }})
4. The

[2019-11-28 07:34] antfu commented on #123
This extension does static analysis and does not interpret the vue-1i8n instance. For now, it will treat locales in each dir at the same level. (Will merge the JSONs). For now, there is a tricky workaround:

Add `index.js` to every locale dir:
![image](https://user-images.githubusercontent.com/11247099/69785631-7e2fac00-11f3-11ea-9c8a-62a8394cd00a.png)

[code]

Add following settings
[code]

Then

[2019-11-28 07:39] lllopo commented on #123
Thanks for the explanation. Readonly is not an option for me, so for now I'd probably adjust my structure to allow the extension to work properly.

[2019-11-28 14:56] marensas opened #124 "Missing keys auto-translate got slow"
**Describe the bug**
Missing keys auto-translate got slow. I guess the translate API got throttled. What can I do about that?

**Extension Version**
1.1.1

**Framework/i18n package you are using**
React

**To Reproduce**
Steps to reproduce the behavior:
1. Right click 'Missing translations' on a language ( 900 missing translations)
2. Select Translate

**Screenshots**
![Screenshot from 2019-11-28

[2019-11-28 15:11] marensas commented on #124
I'v also used 'Vscode Google Translate' plugin and I'v got 429 - too many requests from Google API. There could be one request for one file feature.

[2019-11-28 15:36] antfu commented on #124
Sorry, I am not sure if I can do something on this to help.

FYI, i18n Ally uses [Selection-Translator/translation.js](https://github.com/Selection-Translator/translation.js) for translating and it does not expose any API for customizing API Tokens.

Meanwhile, the translating feature in this extension is for quick development but not a serious internalization solution. For that, I would suggest y

[2019-11-28 19:52] feelinwavy commented on #122
@antfu, I use next-i18next. [https://www.npmjs.com/package/next-i18next](https://www.npmjs.com/package/next-i18next)
Here is simple example with this syntax [https://www.i18next.com/principles/namespaces#sample](https://www.i18next.com/principles/namespaces#sample)

It would be sooo awesome!

[2019-11-29 08:53] tvhenrik opened #126 "[Framework Request] Flutter"
**What framework do you want to have? Please provide links of its i18n solution/package.**
https://github.com/ilteoood/flutter_i18n

**Please provide some overall screenshots about how the i18n usage would be like**
flutter_i18n uses `FlutterI18n.translate(buildContext, 'your.key')`

**Please provide a minimal starter project**

Taken from the flutter_i18n repo:
[example.zip](https://github.com/an

[2019-11-29 14:22] antfu commented on #126
Supported in v1.2.0. Please have a look! 😉

[2019-11-29 14:27] tvhenrik commented on #126
Nice! I was planning on doing a pull request for it, but now I can spend my time on more pressing stuff. Thanks! 😄

[2019-11-29 14:28] #126 closed

[2019-11-29 14:38] antfu commented on #122
Thanks. It looks a little complicated to integrate into the current codebase. So it may take a little bit longer. Please keep turned! 😃

[2019-11-29 14:39] antfu commented on #123
Close this for now, please refer to #122

[2019-11-29 14:39] #123 closed

[2019-11-29 15:00] DaniGTA opened #127 "[Angular Feature Request] Add new translation keys from the code view"
It would be great if this extension could also add translation keys for angular (`@ngx-translate/core`) directly from the code view

Thats how the translation key from `@ngx-translate/core` looks like in a ts file.

`{{'key' | translate}}`

[2019-11-29 15:08] joelschneiter opened #128 "Inline annotation & Hover & Direct actions for i18next"
Inline annotation & Hover & Direct actions for i18next doesn't seem to be working.

![image](https://user-images.githubusercontent.com/58337255/69877348-42174c80-12c2-11ea-8ddb-02805bb2f916.png)

[2019-11-29 15:47] antfu commented on #128
This is because I do not really know what's the usage syntax like for i18next. Thus I make the annotation detecting regex empty temporary.

If you can provide some usage examples, I would love to support them. Thanks!

[2019-11-29 15:50] antfu commented on #127
@DaniGTA Sorry I don't really get your point. `ngx-translate` looks working fine on my machine

![image](https://user-images.githubusercontent.com/11247099/69879665-fe910280-1302-11ea-92dd-4200ec3f945b.png)

[2019-11-29 16:57] antfu commented on #128
I have read some docs about i18next and make it work for some syntax I have seen. Please update to v1.3.1 and check it out. If there is any uncovered use case, feel free to let me know. Thanks.

[2019-11-29 20:49] DaniGTA commented on #127
https://github.com/DaniGTA/angular-ngx-translation-test-repo i uploaded a small example repo and it didnt work on my vs code

[2019-11-30 03:01] antfu commented on #127
@DaniGTA I think you may need to open vscode at my-app directory to make it works.

[2019-11-30 12:52] DaniGTA commented on #127
This is just a small example of a project that has a similar file structure to the right project where there is much more around it, opening the folder in the right project would be very uncomfortable because there are other competent ones that don't belong too angular.

[2019-11-30 13:48] antfu commented on #127
There is a solution in https://github.com/antfu/i18n-ally/issues/120 , is there anything that does not work for you?

[2019-11-30 22:03] DaniGTA commented on #127
i add it in the settings like you can see it in the example projekt but the code view doesnt work:

[2019-12-01 07:53] antfu commented on #127
Oh, it's html. That's the problem. Annotations for Html is shipped in v1.3.3. Please check it out.

[2019-12-01 09:21] DaniGTA commented on #127
Thanks, it works now.

[2019-12-01 10:47] #127 closed

[2019-12-05 08:25] JorundMartinsen opened #132 "Inline annotation does not work if t function contains a newline"
**Describe the bug**
Inline annotation does not work if the t function contains a newline as such:

[code]

This is an issue as Prettier formats long keys on new lines.

**Extension Version**
i18n Ally (v 1.3.3)

**Framework/i18n package you are using**
react-i18next

**To Reproduce**
Assuming existing framework, create a looong key, and type the t function as above

**Desktop (please complete the

[2019-12-05 11:03] JohanBeekers opened #133 "Tree view for flat data structure is not nested"
**Describe the bug**
In the project i'm working on, we are using a flat data structure for the translation files. The tree view shows this as one long list of keys, with only the translations nested under them. It would be great if it could show the dot separated words as nodes in the tree.

**Extension Version**
i18n Ally v1.3.3

**Framework/i18n package you are using**
ngx-translate

**To Reprod

[2019-12-05 11:03] antfu commented on #132
Fixed in v1.3.4. Thanks for the feedback!

[2019-12-05 12:23] antfu commented on #133
Thanks for the feedback. I will implement this soon!

[2019-12-05 14:58] farfromrefug opened #134 "Wrong missing report"
Using the latest version i see something wrong
The screenshot should be enough. It tells me that a translation is missing. However it does not appear in missing (should for both languages as the key does not exist in JSON).
<img width="1539" alt="Screen Shot 2019-12-05 at 15 55 50" src="https://user-images.githubusercontent.com/655344/70246403-ff4ced00-1777-11ea-860b-c3784ded2e99.png">

[2019-12-05 15:32] joelschneiter commented on #128
Works perfectly for me. Thanks for your fast response.

[2019-12-05 15:32] #128 closed

[2019-12-05 17:04] antfu commented on #134
Sorry for the misleading wording. To be clear, the `Missing` in the problems means that you do not have the translation of the key with the **Display Language**. But the `Missing` in the progress view means you do not have translations that exist in the **Source Language** and it does not look through all your files.

Thanks for pointing this out. I would consider making the wording more proper.

[2019-12-06 16:38] antfu commented on #124
Closing this for now. If you have any questions, feel free to reopen it.

[2019-12-06 16:38] #124 closed

[2019-12-06 16:40] antfu commented on #120
Closing this for now. For now, this problem can be solved easily by the config. I would update the docs as well.

If you have any questions, feel free to reopen it.

[2019-12-06 16:40] #120 closed

[2019-12-07 14:41] antfu commented on #133
@JohanBeekers It's shipped in v1.3.5. Please check it out!

[2019-12-07 15:38] antfu commented on #134
The wording is fixed. Thanks.

[2019-12-07 15:38] #134 closed

[2019-12-07 17:20] farfromrefug commented on #134
@antfu sorry for answering so late.
I think we agree on the meaning. And if you llook at the screenshot in the editor it says "translation missing". So i should see "no_point_importer" in the Missing/No Translation section?

The fact is that i would like the plugin to tell me in progress the missing translation like the one in the editor. I thought that s what missing/No translation was for. And t

[2019-12-07 17:41] antfu commented on #134
@farfromrefug Please update to the latest version and check it out before the reading. 😃

This should be "key not exists" and I fixed the wording in the latest version. If I am right, the problem here is that "no_point_importer" does not exist in any of your locale.json files. Thus, for the `progress` view, it can not tell whether you have the translation for that key or not, **without looking int

[2019-12-07 18:28] antfu opened #135 "Ember Intl"
**What framework do you want to have? Please provide links of its i18n solution/package.**

ember-intl, https://www.npmjs.com/package/ember-intl

**Please provide some overall screenshots about how the i18n usage would be like**

[code]

[2019-12-07 18:29] antfu opened #136 "Rails i18n"
**What framework do you want to have? Please provide links of its i18n solution/package.**
rails-i18n, https://github.com/svenfuchs/rails-i18n

**Additional context**
https://github.com/svenfuchs/rails-i18n

## Vote
If you would like to see this get supported, **please hit 👍 to vote on this**. When it's hit 15 👍 I would start to consider implementing this. (PR is also welcome!) Thanks!

[2019-12-07 20:38] farfromrefug commented on #134
OK I get it! Will try the usage report feature! Thanks a lot for your explanation.

[2019-12-08 03:28] #135 closed

[2019-12-10 08:59] JohanBeekers commented on #133
Ah, that's great. It seems to be working fine.
Makes the tree a whole lot more useful. Thank you for implementing it so quickly.

I do have one more idea.
I noticed i can edit translations, rename keys and delete keys from the tree view. But it doesn't seem possible to add new keys in the tree view. Should i create a new feature request for this? Similarly it would be great if we could also duplic

[2019-12-10 09:27] antfu commented on #133
Great idea! I would love to add that. Please create a new feature request so I can better track the progress of implementation. Thanks!

[2019-12-10 09:27] #133 closed

[2019-12-10 10:07] JohanBeekers opened #137 "Allow adding new keys from tree view"
From the tree view, it is possible to edit translations, rename keys and delete keys. But it isn't possible to add new keys from there. It would be great if it was possible to add new keys from the tree view.

Duplicating existing keys here would also be a great feature. As i often see myself duplicating existing keys, like error messages, and slightly changing them.

[2019-12-10 11:07] JohanBeekers opened #138 "Allow configuring indentation size"
In our project, we use 4 spaces as indentation size for pretty much all json and ts files. The auto formatter automatically formats these files with 4 spaces. And so does another tool that some people in our project are currently still using. i18n Ally saves the translation json files with 2 spaces of indentation. While this might not always be a problem, merge conflicts seem to occur more often a

[2019-12-10 13:07] antfu commented on #137
Landed in v1.4.2 🎉 Thanks again for the great idea!

[2019-12-10 13:08] antfu commented on #138
In v1.4.2, you can set it by
[code]

[2019-12-10 15:04] JohanBeekers commented on #137
I tested it, but found some issues.
- Duplicating a key seems to work well.
- Creating a new key seems to work, but doesn't appear to respect the recently added 'keepFulfilled' setting. It only adds an English translation. A followup action however, like duplicating a key, will update all translation files with the missing keys.
- Editing translations from the tree seems to have broken. I took a q

[2019-12-10 15:08] JohanBeekers commented on #138
Seems to work perfectly.
And that was really fast too. You are absolutely great!

[2019-12-10 15:40] #138 closed

[2019-12-10 15:48] antfu commented on #137
Wow! Thanks for such detailed feedback!

2. and 3. are fixed in v1.4.3.

For the side panel issue, I am not sure what's the problem(it happens sometimes when I am developing). I will keep investigating it. If you can consistently reproduce it please let me know the steps! Thanks!!

[2019-12-10 16:45] JohanBeekers commented on #137
Thanks for the fixes. Those seem to be working fine now.

The side panel thing seems to happen fairly consistently for me.
Basically all i do is this:
- Close all files, just to make sure that nothing is opened automatically when i start VSCode again.
- Close VSCode.
- Open VSCode and my project, i see the welcome screen. The i18n Ally icon is not available yet in the activity bar.
- I open the HT

[2019-12-10 16:55] antfu commented on #137
@JohanBeekers Thanks for the info. I repeated your steps but it seems to work fine for me. May I have some of your information

- Your OS and Version
- VSCode version
- Frameworks you are using
- The output of "i18n Ally"

[2019-12-11 09:13] JohanBeekers commented on #137
- Windows 10, version 1901, build 18363.476
- VSCode 1.40.2
- Angular ngx-translate
- Output:
[code]

[2019-12-11 09:18] JohanBeekers commented on #137
Just to rule it out, i also just disabled every single extension except i18n ally, and i'm still having the problem that it messes up the sections when switching between files.

[2019-12-11 09:52] JohanBeekers commented on #137
Okay, i made a VERY simple project and i'm still having the issue. Only the i18n Ally extension is enabled.
It only has a package.json file with the ngx-translate/core package, 1 html file and 2 translation json files.

![nUlDDLoAuY](https://user-images.githubusercontent.com/3511550/70610621-300fa500-1c04-11ea-9851-65db76620ecb.gif)

[2019-12-11 14:03] antfu commented on #137
@JohanBeekers You are awesome, dude! Thanks for being so patient for this. Now I can reproduce that.

It happens when you manually reorder the views (that's why I didn't find it out before). The extension would remove the current file view when no needed, so how this messed up with the manual position. I think it's kinda a bug of VSCode.

For now, I have made the current file view always visible a

[2019-12-11 16:23] ddarkchu opened #139 "can't load other lang key"
**Describe the bug**
A clear and concise description of what the bug is.

**Extension Version**
1.4.6

**Framework/i18n package you are using**
react-i18next

**To Reproduce**
Steps to reproduce the behavior:
1. ko.json add  key , value
"반려" : '반려"
2. not work i18n-ally support

**Extension Log**
Go to `View` -> `Output` -> `i18n Ally`, and paste the content below. **You should mask any sensitive

[2019-12-11 16:36] antfu commented on #139
Actually... it's intentional. Since using Unicodes as keys are not a good practice I believe.

For now, we only allows keys contains `words`, `digits`, `dash`, `underscore`, `dots`, `[` and `]`. This also prevents the extension to false positively recognize keys contains scripts.

I may not fix this. Or maybe you can provide me some use cases or reasons for this to change my mind. Thank you! 😁

[2019-12-11 16:42] ddarkchu commented on #139
thank you

[2019-12-11 16:42] #139 closed

[2019-12-12 09:41] #132 closed

[2019-12-12 15:47] JohanBeekers commented on #137
Was a bit busy today, but i just tried it out and it seems to be working now.
Thank you for all these quick fixes and updates.

I'll probably come up with some more feature idea's and bugs later. 😄

[2019-12-12 19:18] antfu commented on #137
@JohanBeekers Thanks for all the help! Any idea are welcome!

[2019-12-12 19:18] #137 closed

[2019-12-13 03:56] inwikipedia opened #140 "动态拼接bug /Dynamic stitching bug"
**Describe the bug**
A clear and concise description of what the bug is.

**Extension Version**
i18n Ally

**Framework/i18n package you are using**
vue-i18n

**To Reproduce**
Steps to reproduce the behavior:
ex:
vue page
{{ $t('common.'+type)}}
Can't be detected, the whole page will have problems, not displayed, and the layout is disordered

**Desktop (please complete the following information):**

[2019-12-13 09:12] antfu commented on #140
Thanks for the feedback!

For your question:

The extension can NOT detect dynamic keys since it's impossible to tell what the value of `type` is through static analysis.

What do you mean disordered? Can you provide some screenshots?

[2019-12-13 10:40] antfu commented on #140
@inwikipedia I have added a fix to ignore keys end up with "." in v1.4.7. You can update to it can see if the problem still exists.

[2019-12-13 14:10] murilobd opened #141 "[Vue] Failed to load TypeError: Cannot create property 'insert-a-valid-name' on string ..."
**Describe the bug**
For some reason, when I add the object:
`{ ..., "insert-a-valid-name": "Insert a valid name", ... } `
in the .json translation file, i18n-ally stop working and output this error:
`Failed to load TypeError: Cannot create property 'insert-a-valid-name' on string 'Failed saving new name'`
where 'Failed saving new name' is the translation from the above object

**Extension Version

[2019-12-13 16:59] antfu commented on #141
It seems to work for me

![image](https://user-images.githubusercontent.com/11247099/70817427-83544400-1e0c-11ea-9132-a0560c1cae50.png)

Can you check if there is anything wrong with your json files? Like syntax, encoding or something. If not, can you share me a minimal repo so that I can reproduce it. Thanks.

[2019-12-14 07:09] zhuSass opened #142 "Search for locale messages used in a file (or search for vscode decorations text)"
您好，非常感谢您的插件解决了国际化带来的本土体验开发方式，它确实解决了不少的麻烦。
但是如果我在打开一个代码比较多的vue文件，我需要快速找到对应的html模块就要用到搜索框进行搜索查找，我们的插件装饰文字似乎并不在vscode搜索范围内，阅读您的代码是用`window.activeTextEditor.setDecorations`该API实现，如果vscode没有提供对应的api去帮助我们实现，能不能通过其它取巧的方法实现，这将是一个非常棒的功能，谢谢
！

[2019-12-15 07:44] antfu commented on #142
Hi~ @zhuSass 我稍微研究了一下，VSCode似乎也並沒有提供操作搜索結果的API。若要通過“取巧”的方法實現並達到可接受的用戶體驗，似乎有點超出我的能力範圍，非常抱歉。

也許你可以考慮向VSCode提issue/pr實現Decoration的搜索，或若是你有任何解決方案也歡迎討論或PR。謝謝！

[2019-12-16 13:50] Serhioromano opened #146 "Can you add support for INI files"
**Is your feature related to a specific framework or general for this extension**

Joomla

**Describe the solution you'd like**

I am a Joomla extension developer. Every Joomla extension can be translated. Locales are stored in `languages/en-GB/extension_name.ini` files. Very simple. In PHP code JText::_('KEY_TAG') is used for printing translations.

That would be awesome to have this support.

[2019-12-16 14:43] antfu commented on #146
Sure! Can provide a minimal repo so that I can work on this better? Thanks

[2019-12-17 07:09] jayfongs opened #147 "Parse the same specific text in a Vue template"
**Is your feature related to a specific framework or general for this extension**

- vue-i18n
- nuxt-i18n

**Is your feature request related to a problem? Please describe.**

I define that a translation keyword in a locale always has the same specific text as another one and can be linked to it

![image](https://user-images.githubusercontent.com/17779577/70971885-f4317f80-20dc-11ea-8b19-d6365b4a82

[2019-12-17 07:24] antfu commented on #147
That's another new syntax I have ever seen, cool! I gonna support this soon.

[2019-12-17 08:50] antfu commented on #147
Supported in v1.6.0 🎉

[2019-12-17 09:30] jayfongs commented on #147
Works fine! awesome! Thanks!

[2019-12-17 09:30] jayfongs commented on #147
Works fine! awesome! Thanks!

[2019-12-17 09:33] #147 closed

[2019-12-17 11:59] phiter-monetizze opened #148 "Display language is being converted to caps"
**Describe the bug**
I'm using `pt-br` as the default language key for my project, and I've set `i18n-ally.displayLanguage` to `pt-br`, but it seems like it expects `br` to be in caps in my code.

**Extension Version**
i18n ally

**Framework/i18n package you are using**
Vue i18n

**To Reproduce**
Steps to reproduce the behavior:
1. Set `i18n-ally.displayLanguage` to `pt-br`
2. Add a translation wi

[2019-12-17 13:14] Serhioromano commented on #146
https://github.com/joomla/joomla-cms

Go to folder `language` and `administrator\language` those are 2 i18n folders for backend and frontend. All extension's ini files are stored there.

In those folders first, you have older with language tags and inside that folder files. Every file starts with language tag and then you can identify the type of the file.

com_* - component
mod_* - module
plg_* -

[2019-12-17 14:16] antfu commented on #148
@phiter-monetizze Sorry somehow I can not reproduce your problem, can you share a minimal repo for that? Thanks for reporting!

[2019-12-17 14:23] antfu commented on #146
@Serhioromano There is one more thing I may need your help.

The extension will read `package.json`(for node) or `pubspec.yaml`(for flutter) to check particular i18n packages exist or not. This makes it automatically adapt to different projects seamlessly.

I would like to know how to detect a project is a Joomla project and which packages make it supports i18n (or it has built-in support)

Thanks

[2019-12-17 17:39] phiter-monetizze commented on #148
Hey! Thanks for the reply!

I did another test and I noticed this happens only when using the `<i18n>` tag in Vue SFC.

This is the minimal test repro.
https://github.com/phiter/vue-i18n-ally-test

The same is still happening

![image](https://user-images.githubusercontent.com/56091403/71020309-cfd4a380-20da-11ea-9194-29e14314baaa.png)

But the `message` translation, which comes from a json file u

[2019-12-17 17:45] phiter-monetizze commented on #148
By the way, if I don't add `pt-BR` to ignored locales, this is what happens
![image](https://user-images.githubusercontent.com/56091403/71020788-c0098f00-20db-11ea-9d3f-3d82d57bb080.png)
I think it's parsing directory names as uppercase.

[2019-12-17 18:05] antfu commented on #148
Thank you! That makes sense now. This bug is due to the SFC loader missed the locale code normalization.

The fix is shipped on v1.7.1. Please update and check it out! 🚀

[2019-12-17 18:46] phiter-monetizze commented on #148
Cool! That works well now :+1:

[2019-12-18 05:03] Serhioromano commented on #146
There is only one way to detect that site is Joomla. User might delete all extra files and only `index.php` is not delitable. You can read its cotent and seatch for `Joomla.Site` in 3d line of the file.

[code]

To get list of packages, you can read folders in `/language` folder. Every package is and actualy a folder. For instance.

For tests you can download

German  http://joomlacode.org/gf/down

[2019-12-18 12:40] jtcontreras90 opened #149 "Add support for locale files which root is the locale"
**Is your feature related to a specific framework or general for this extension**
Rails i18n

**Is your feature request related to a problem? Please describe.**
The [Rails Internationalization Guide](https://guides.rubyonrails.org/i18n.html#configure-the-i18n-module) uses the syntax:

[code]
However, the extension fails to find the translation when I call `t('key')` since the keypath doesn't start

[2019-12-19 04:59] antfu commented on #149
Thanks for the feedback!

I would love to support this but this requires a lot of effort to the current codebase. I would keep track #136 before I dig into it.

I am not familiar with rails. Is such syntax mandatory required by `Rails i18n`?

[2019-12-19 05:03] #148 closed

[2019-12-19 05:37] antfu commented on #146
@Serhioromano Joomla is now supported in v1.8.0. 🎉 Please check it out! Hope I made everything right.

[2019-12-19 06:24] Serhioromano commented on #146
Oh! My goodness! I am on a way to check it. Wait for my review.

[2019-12-19 10:36] Serhioromano commented on #146
I do not see anything, How to use it? I do not see any pannels. And when I try any command I see errors.

[2019-12-19 10:40] antfu commented on #146
The extension we be looking for [composer.json](https://github.com/joomla/joomla-cms/blob/staging/composer.json) at the root of your project and see if there is 'joomla/application' dependency exists.

Do you have it?

[2019-12-19 12:24] jtcontreras90 commented on #149
I just did a small test and seems to be mandatory:
### Works:
[code]
[code]
### Doesn't work
[code]
[code]

[2019-12-19 14:52] antfu commented on #149
Thanks. Will looking for a solution!

[2019-12-19 15:41] Serhioromano commented on #146
Ok, I've added this file. Now I see it. But it is a little bit confusing.

when I want to translate it insert all keys from all files into the current file. Is it possible that it keeps the structure. For instance if I want to translate to Russian from English, it creates similar files. If the language key was in `language/en-GB/en-GB.com_contact.ini` then you create `language/ru-RU/ru-RU.com_cont

[2019-12-20 11:57] JohanBeekers opened #150 "Duplicate/delete bug, likely caused by files not reloading"
**Describe the bug**
Often when duplicating a key from the tree view, it only duplicates some of the translations. In the example below, it correctly copied the dutch and french translations, but not the German or English ones. Looking at the .json files, both those keys contain empty strings.
![image](https://user-images.githubusercontent.com/3511550/71250805-e9ffc300-2320-11ea-80e4-703e2b6c9e89.

[2019-12-20 14:00] JohanBeekers opened #151 "Based on framework, copy a different key for 'Copy i18n key' feature."
**Is your feature related to a specific framework or general for this extension**
ngx-translate, possibly other frameworks as well.

**Is your feature request related to a problem? Please describe.**
When I use the 'Copy i18n key' button from a key in the sidebar, it copies a key like `$t('MY.TRANSLATION.KEY')`. I'm guessing the $t() is a VUE thing. But as I'm using ngx-translate, the $t() bit is

[2019-12-20 20:21] antfu commented on #151
Oh! I didn't notice that! Thanks for pointing out.

[2019-12-20 20:47] antfu commented on #150
Thanks, you are awesome!

I have changed the writing logic a little, hope it solves this problem.

The fix is released in v1.8.2, please check it out!

[2019-12-20 20:48] antfu commented on #151
The fix is released in v1.8.2, please check it out!

[2019-12-21 06:42] synapse709 opened #152 "Create locale keys directly within templates"
**Is your feature related to a specific framework or general for this extension**
vue-i18n

**Is your feature request related to a problem? Please describe.**
Currently, editing and translating keys is possible within a template if they already exist, but I want to create NEW keys within my locale files when I add a new key within a template.

**Describe the solution you'd like**
There needs to be

[2019-12-21 07:41] antfu commented on #152
You can create the key by editing any of the locales. Is that what you requested?
![image](https://user-images.githubusercontent.com/11247099/71304963-4b4e9180-2408-11ea-9a8b-47af1a518447.png)

[2019-12-21 07:44] antfu commented on #146
It's that the desired behavior?

Sorry, I don't get it. Can you provide some example screenshots and steps to reproduce? Thanks.

[2019-12-21 08:05] synapse709 commented on #152
I've tried this, but it's not working. Here's a gif. Am I doing something wrong?
![i18n Ally Error](https://user-images.githubusercontent.com/4532534/71305243-1ea07700-2414-11ea-9530-7afa927b4f66.gif)

[2019-12-21 09:00] antfu commented on #152
@synapse709
Sorry, it seems to work fine on my machine.

1. Can you provide the log in Ouput > i18n Ally
2. You may want to check the `i18n-ally.keystyle` the field in your VSCode settings and the `en.json` of your locale messages.

[2019-12-21 09:30] synapse709 commented on #152
This is the only output error I get.

<img width="421" alt="CleanShot 2019-12-21 at 18 21 45@2x" src="https://user-images.githubusercontent.com/4532534/71306031-c3c04d00-241e-11ea-9d82-bdd0afc03dd3.png">

I see the settings option in the Settings UI, but when I open the settings.json, I don't see anything for i18n-ally. Can you tell me if anything should be there by default? Perhaps that is the is

[2019-12-22 09:29] Serhioromano commented on #146
https://www.dropbox.com/s/xn3h2bv1bcbyqmn/translate.mp4?dl=0

[2019-12-22 14:21] antfu commented on #152
@synapse709 Can you check out the en.json file and see if there is anything written to the file better in wrong format or something. The issue might be there.

Yes. It's by default. But there are two settings.json. One for global user setting. and one for workspace setting. You may want to chek both of them.

[2019-12-23 08:01] blondie63 opened #155 "Translation is missing"
**Describe the bug**
Wrong missing report

**Extension Version**
i18n Ally (v1.8.2)

**Framework/i18n package you are using**
flutter_i18n 0.8.2

**To Reproduce**
Steps to reproduce the behavior:
1. move mouse a string underlined with blue waves

**Device Information**
 - OS: OSX
 - Version: 10.15.2
 - VSCode Version:
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-1

[2019-12-23 09:15] antfu commented on #155
Please change `i18n-ally.sourceLanguage` and `i18n-ally.displayLanguage` to `en-us` since it's default by `en`

[2019-12-23 10:11] blondie63 commented on #155
ok it works now !
Thanks

[2019-12-23 10:11] #155 closed

[2019-12-23 17:33] JohanBeekers commented on #150
Currently on vacation, but I should have some time next week to try it out.
Or the week after that, but it shouldn't take any longer than that. Will definitely let you know once I had a chance to try it.

[2019-12-25 15:25] sirtakidancers opened #156 ".po files support"
in my project I use messages.po which I compile in messages.mo, help set up support for such a structure

locale/locales/ru_RU/LC_MESSAGES/messages.po file verver

msgid "Upgrade"
msgstr "Обновить"

msgid "Restart"
msgstr "Перезапустить"

it’s impossible to feed such a structure to expansion so that it starts showing prompts

[2019-12-25 18:27] antfu commented on #156
Sure! I would love to support it. May I have the name of your i18n framework as a reference? Thanks!

[2019-12-26 08:12] sirtakidancers commented on #156
unfortunately I can’t give access to this project, but here I showed the basic concept
https://github.com/sirtakidancers/demo_lang_structure

[2019-12-27 05:55] Jack-Works opened #157 "Add support for Chrome extension style JSON file"
**Is your feature related to a specific framework or general for this extension**
 CHrome Extension JSON format

**Is your feature request related to a problem? Please describe.**

Accroding to https://developer.chrome.com/extensions/i18n , i18n file for Chrome Extension looks like
[code]

It has the shape:
[code]

**Additional context**

Current behavior

![image](https://user-images.githubuserco

[2019-12-27 07:53] antfu commented on #156
Hey. Thanks for the example. The po support is shipped in v1.8.4. Please check it out.

Please note po support currently only works in readonly mode since I only find out [po2json](https://www.npmjs.com/package/po2json), which only works on parsing. If you got some good implementation about dumping JSON to po, please tell me. Thanks!

[2019-12-27 09:28] sirtakidancers commented on #156
works, but not for everything, if I have such lang, then the parser crashes and does not work

example:

msgid "error.api.general"
msgstr "Произошла ошибка во время выполнения запроса"

[2019-12-27 09:47] antfu commented on #156
Can I have the output error message? Thanks

[2019-12-27 09:49] sirtakidancers commented on #156
text error -> "Failed to load TypeError: Cannot create property 'general' on string 'Ошибка'"

[2019-12-27 10:47] antfu commented on #156
Sorry, I know very little about this format. But this seems to be not an error of this extension. Can you try to test your po files using https://github.com/mikeedwards/po2json?

[code]

If it's not a format problem, then we can dig in and find out why. Thanks

[2019-12-27 11:16] sirtakidancers commented on #156
https://github.com/sirtakidancers/demo_lang_structure
found a play case, started new edits in the demo

problem with format lang

msgid "error"
msgstr "Ошибка"

msgid "error.general"
msgstr "Произошла ошибка во время выполнения запроса. Пожалуйста, повторите запрос позже"

[2019-12-27 17:37] blondie63 opened #158 "Flutter sample issue"
How to fix the warning on 19 main.dart ?
msg: This class (or a class which this class inherits from) is marked as '@immutable', but one or more of its instance fields are not final: MyApp.flutterI18nDelegatedart(must_be_immutable)

Flutter doctor:
[code]

[2019-12-28 00:57] antfu commented on #158
@blondie63 Hi! Do you mean the example of flutter provided in this project? If so, it may not work as except.

The examples in this repo are to make sure the extension works on the situations. So files that not related to i18n stuff may get removed in order to make this repo slim (and those files may be critical for building or running the app).

If you are looking for starter templates or some ot

[2019-12-28 08:01] blondie63 commented on #158
Thanks

[2019-12-28 08:01] #158 closed

[2019-12-28 15:56] antfu commented on #156
Okay I see. This problem is due to the `error` is used both for key and namespace. I wouldn't think this is a normal case for most i18n solutions. Can this case be handled correctly in your toolchain?

[2019-12-28 15:58] antfu commented on #157
Thanks for the feedback. Will try to support soon!

[2019-12-28 16:32] Jack-Works commented on #157
API:
chrome.i18n.getMessage("message_key", fill_in_data, ...)
Or
browser.i18n.getMessage("message_key")

[2019-12-30 03:47] bcjohnblue opened #162 "Translation is missing warning"
**Describe the bug**
Using Document.createElement('script') cause the warning of **translation is missing.**

**Extension Version**
i18n-ally (v1.8.5)

**Framework/i18n package you are using**
react-i18next (In next.js project with react-i18next installed)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `pages/_app.tsx`
2. Add `Document.createElement('script')` in `componentDidMount()`

[2019-12-30 04:19] antfu commented on #162
May I have the output messages in the Output > i18n Ally panel?

Something like this:
![image](https://user-images.githubusercontent.com/11247099/71568000-9fd7c800-2afe-11ea-9ac3-d2114c2bc528.png)

Thanks!

[2019-12-30 06:00] bcjohnblue commented on #162
![截圖 2019-12-30 下午1 53 52](https://user-images.githubusercontent.com/21099079/71569729-21822280-2b0c-11ea-83fa-97fe18c388af.png)

It seems no error here.

[2019-12-30 06:35] Yukaii opened #163 "Display and remove unused language keys"
**Is your feature related to a specific framework or general for this extension**

Nope

**Is your feature request related to a problem? Please describe.**

When I add new translations, I would forget to remove old translation sometimes. As the project goes, these old translations grow and it's a waste of time to find and remove them manually.

**Describe the solution you'd like**

Display those u

[2019-12-30 07:43] antfu commented on #163
Great idea! It now shipped with v1.9.0. You can access this feature by right-clicking `keys not in use`

![image](https://user-images.githubusercontent.com/11247099/71572661-27cbcb00-2b1b-11ea-8737-ff83c61ef465.png)

[2019-12-30 10:25] antfu commented on #162
@bcjohnblue Looks like you are using an out to dated version. Please update and check if the problem persists. Thanks.
![image](https://user-images.githubusercontent.com/11247099/71578084-ac294880-2b31-11ea-96bd-89a3926d7a5b.png)

[2019-12-30 15:46] Djobot opened #164 "Automatic text extraction for translations from code"
**Is your feature related to a specific framework or general for this extension**
General but I'm using vue-i18n

**Describe the solution you'd like**
It would be very cool for existing projects to have a command to extract automatically all strings from code and propose to translate them. It would work like ctrl (+ shift) + H replace command and search for text between html tags or specific html

[2019-12-30 15:58] antfu commented on #164
Hi @Djobot, Thanks for the feedback!

Strings are used for different purposes in code. I think it's really hard to tell which strings are texts and which are not. Especially we are supporting numbers of different source code formats. I would love to support it If we can come up with a decent solution. 😄

[2019-12-31 02:53] bcjohnblue commented on #162
When I update to `v1.9.0`, it doesn't show any warnings. Thanks a lot!

[2019-12-31 02:53] #162 closed

[2019-12-31 03:22] antfu commented on #164
Just found an interesting project https://github.com/i18next/i18next-scanner

Will dig into it later and considering integrate it.

[2019-12-31 07:20] Yukaii commented on #163
That's amazing!!!!! Thank you for the ⚡️ speed!

[2019-12-31 07:31] Yukaii commented on #163
@antfu I found two problems when using this feature:

1. One of my directories ends with `.js` is recognized as a file, then throwing this error:
	![Screen Shot 2019-12-31 at 3 23 04 PM](https://user-images.githubusercontent.com/4230968/71613583-45b03300-2be2-11ea-9d1b-44db233a62da.png)
2. The analyzer seems not to recognize i18n strings in `.ejs` files, with showing a lot of **NOT in use** keys b

[2019-12-31 07:38] antfu commented on #163
1. Good find out, that's a bug. Will fix that.
2. Sorry I didn't consider ejs. Would add it soon. Thanks.

[2019-12-31 09:34] antfu commented on #163
@Yukaii Release the path in v1.9.1. Please check it out.

[2019-12-31 11:05] synapse709 commented on #152
I'm not sure what issues could be present in my en.json. I'm currently an external mac app called BabelEdit to change keys and it works without any issues at all:
<img width="862" alt="CleanShot 2019-12-31 at 20 03 24@2x" src="https://user-images.githubusercontent.com/4532534/71619621-9cc8fe80-2c08-11ea-849a-7717ee3f7ed7.png">

In my workspace settings.json I have the following. Is this correct?:

[2019-12-31 17:08] antfu commented on #152
When you edit the new key `auth.password2`, will it write to your `en.json`? I was doubtful about this bug is due to the incorrect `i18n-ally.keystyle` setting that does not match with your locale files. But seems that you don't have this configured.

I have tried to tested through again, I still can not reproduce your problem. Does this problem exist at the beginning you start to use it or it's i

[2020-01-01 03:20] Yukaii commented on #163
@antfu Awesome! Does 1.9.1 get released yet? The version on the marketplace still shows 1.9.0.

[2020-01-01 04:45] antfu commented on #163
@Yukaii Sorry I must be too soon to close the terminal. Now it's live, please check it out!

[2020-01-02 06:20] Yukaii commented on #163
It works like a charm! Awesome works thank you @antfu!

[2020-01-02 06:35] antfu commented on #163
Glad to hear that!

Closing now. If you got any questions, feel free to reopen.

[2020-01-02 06:35] #163 closed

[2020-01-04 17:11] blondie63 opened #165 "i18n-ally.sourceLanguage"
**Is your feature related to a specific framework or general for this extension**
General

I've some project where i use file format en-US.json and others en.json

on config the value i18n-ally.sourceLanguage is global ?
or there's a way to save per each project?
Thanks

[2020-01-05 14:04] antfu commented on #165
You can use workspace settings for that. Please refer to https://code.visualstudio.com/docs/getstarted/settings. Thanks.

[2020-01-06 14:15] JohanBeekers commented on #150
Okay, I got back to work today.
I updated to the latest 1.9.1 version, but unfortunately it seems that the issue is still there. I duplicated a key, but it still didn't reload every translation file.

The only difference is that it didn't immediately write again with empty keys. But the empty keys will still be saved during any following write action, like duplicating or adding another key.

[2020-01-06 14:16] JohanBeekers commented on #151
Seems to be working just fine. Thanks.

[2020-01-06 14:24] #151 closed

[2020-01-06 14:26] antfu commented on #150
@JohanBeekers Thanks. I'll test it out again.

[2020-01-06 17:04] antfu commented on #157
@Jack-Works The chrome extension is supported as a framework. Please update to v0.10.1 and check it out.

Note you may need to do the following things to make it work
- remove your custom framework setting
- set `"i18n-ally.enabledFrameworks": "chrome-ext"`

---

My working config for reference
[code]

[2020-01-07 00:56] Jack-Works commented on #157
Cool! I'll try it out! Thank you

[2020-01-07 07:28] antfu commented on #140
Closing this for now. If you have any questions, feel free to open it

[2020-01-07 07:28] #140 closed

[2020-01-07 07:28] antfu commented on #141
Closing this for now. If you have any questions, feel free to open it

[2020-01-07 07:28] #141 closed

[2020-01-07 07:29] antfu commented on #157
Closing this for now. If you have any questions, feel free to open it

[2020-01-07 07:29] #157 closed

[2020-01-07 07:29] antfu commented on #165
Closing this for now. If you have any questions, feel free to open it

[2020-01-07 07:29] #165 closed

[2020-01-08 02:34] Jack-Works opened #167 "How can I use chrome-ext support + custom template?"
**Describe the bug**

**Extension Version** 1.10.2

**Framework/i18n package you are using** chrome-ext + custom template

**To Reproduce**
It seems like the chrome-ext option is conflict with custom template... I found there is no way to use chrome-ext (with extra ".message" path rewrite) and custom template (`geti18nString` function call in my project) in the same time...

I'm using chrome-ext f

[2020-01-08 02:50] antfu commented on #167
I have forced the chrome-ext to be `monopoly` in case the conflicts of path rewriting in the first place. But since it enables manually, I think it's not necessary for that. Thanks for bringing this up! The fix is released in v1.10.3.

[2020-01-08 06:37] Jack-Works commented on #167
Thanks for your work!

[2020-01-10 18:34] hyperobjectsfrance opened #168 "Custom Framework regular expression"
Hello
I'm trying to make the extention work with sails.js
Using i18n with sails. js is done like this
`<%= __("key") %> or <%= i18n("key") %>`

I've created the yml file as stated here
https://github.com/antfu/i18n-ally/blob/master/docs/custom_framework.md

The content of the file is

[code]

The Key exp seems ok
https://regexper.com/#%28%3F%3Ai18n%29%5B%5C%28%5D%5B'%22%60%5D%28%5B%5Cw%5Cd%5C.%20%

[2020-01-11 07:01] antfu commented on #168
@hyperobjectsfrance Can you share your log to help investigate? It can be found in Output > i18n Ally

[2020-01-11 16:57] hyperobjectsfrance commented on #168
Hello
I figured out what the issue was:
In my en.json and fr.json locales, I was using this format
{"Account.FullName": "FullName"} in the EN file
{"Account.FullName": "Nom Complet"} in the FR file
My ejs files are containing code like
<%= i18n("Account.FullName") %>
and the translation works fine.
However, in order to have i18n-ally to work, the locales files MUST have this format
"Account": {

[2020-01-11 17:10] hyperobjectsfrance commented on #168
As you can see in this screenshot, the locales appear but the usage count and the current file panes are empty. Maybe this is normal since i'm using a custom framework, just wanted to double check

<img width="1034" alt="Capture d’écran 2020-01-11 à 18 09 08" src="https://user-images.githubusercontent.com/59603562/72207941-8428d600-349d-11ea-9e2c-06c435a840e8.png">

[2020-01-11 17:35] antfu commented on #168
@hyperobjectsfrance Looks like you are using ejs. You should also add it to the languageIds

[code]

[2020-01-11 17:50] hyperobjectsfrance commented on #168
I feel dumb now ;)
Thanks :)

[2020-01-11 17:50] #168 closed

[2020-01-13 08:31] antfu commented on #136
Hello everyone! Thanks for all the support.

**Ruby on rails i18n is now supported in `v1.11.0` 🚀**

Please update to check it out. Let me know if I missed anything.

Cheers!

[2020-01-14 17:19] #149 closed

[2020-01-16 03:47] FPNL opened #171 "太棒了，不推不行"
本來今天要設計一個新的 i18n，但是無意在 vscode 找的這插件，都從椅子上跳起來了，
必須分享！

[2020-01-16 04:46] antfu commented on #171
Glad you like it. Thanks! 😁

[2020-01-17 01:55] joaomelo opened #172 "can't make localepaths work"
**Describe the bug**
Hi,

cool extension. congrats and thank you.

I setup localespaths in settings.json but the extension won't recognize my messages.

**Extension Version**
i18n ally 1.11.1

**Framework/i18n package you are using**
extracted from package.json "vue-i18n": "^8.15.1",

**To Reproduce**
The folder structure (some things omitted for simplicity) where my messages files are in is this:

[2020-01-17 05:33] antfu commented on #172
If your using `js` format of messages, you should export them with default
[code]

[2020-01-17 12:05] joaomelo commented on #172
i thought the extension only cared for the locales files and not how they were exported/imported. thank you for that! i updated the issue description to add that info and will try solving everything when i arrive at home tonight.

[2020-01-17 13:11] joaomelo commented on #172
hi antfu. couldn't wait :) i invested so much time in this last night that i had to test a few things after i read your message.

by your message, as i understand, messages have to be exported by default. en.js and br.js are already exported by default like the code bellow:
[code]
i updated index.js inside src/i18n/data to adopt the same aproach and set the code as bellow
[code]
unfortunately the

[2020-01-17 13:22] joaomelo commented on #172
i also tryed move the messages to same folder as the main js. setting everything like this:
[code]
and changed i18n.js code to this:
[code]
and updated the extension config to:
[code]
my keys are still not recognized.

[2020-01-17 13:25] joaomelo commented on #172
i also found the i18n-ally output

[code]

it seems the extension is not recognizing the localespaths configuration

[2020-01-17 13:38] joaomelo commented on #172
i tougth that maybe the folder been named i18n it could confuse the extension, so i changed the folder sctructure to "src/core/teste/domain" and pointed localesPaths to this new structure. the output is now

[code]

[2020-01-17 14:45] antfu commented on #172
Sorry I didn't make that clear. You can check out the example here https://github.com/antfu/i18n-ally/tree/c884bc439cd0f44fe7a090c2205d37411efa903c/examples/vue-i18n/js-parser

This is how your en.js/br.js should look like (regardless of the i18n.js/index.js, the extension reads in file bias and will not recognize them)
[code]

An additional note it that using js/ts files as locale messages file i

[2020-01-17 15:34] mbrehme opened #173 "Support for React Native"
**Is your feature related to a specific framework or general for this extension**
Kind of: Support for react native I18n

**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
It would be aawesome to have support for react native I18n

[2020-01-17 15:38] antfu commented on #173
Can you share the i18n library link and an example project for that?

Did a quick search https://github.com/AlexanderZaytsev/react-native-i18n seems to be deprecated.

[2020-01-17 15:40] mbrehme commented on #173
Thanks for your quick reply.

I think this is the most commonly used: https://github.com/fnando/i18n-js

[2020-01-17 15:45] antfu commented on #173
Woww.. it looks complicated. I can look into that but not very soon. I don't know much about React Native thing and it's better for me if you can share a minimal repo to work with. Anyway, before it landed, you can always try out the cutsom framework settings. https://github.com/antfu/i18n-ally/blob/master/docs/custom_framework.md

[2020-01-17 15:55] mbrehme commented on #173
Awesome, i did get it to work with your custom framework configuration.

For anyone interested:

[code]

[2020-01-18 02:48] hanc2006 opened #174 "i18n-tag framework wrong keyMatchReg"
**Describe the bug**
When I select the i18n-tag Framework the current file view with the keys is always empty.

![i18ally-error-1](https://user-images.githubusercontent.com/4517251/72657360-b35eac00-39a3-11ea-8ddb-b515ea393203.png)

**Extension Version**
antfu.i18n-ally-1.11.1

**Framework/i18n package you are using**
 i18n-tag

**To Reproduce**
Steps to reproduce the behavior:
`"i18n-ally.enabled

[2020-01-18 03:24] Jack-Works commented on #167
Sorry! but I found this didn't get resolved. Here is my minimal repo:

[code]

[code]

[code]

[code]

[2020-01-18 08:34] antfu commented on #167
I due to `i18n-ally.enabledFrameworks` will override the `monopoly` setting and make frameworks enable which you specified. For this case, you may need to change it to:

[code]

Please also update to v1.11.2. I also found a minor bug will affect this. Please try it out. Hope it works for you :)

[2020-01-18 08:37] antfu commented on #174
Thanks for you detailed explanation! I forgot to add group capture for the `keyMatchReg`, good call. The fix is landed in v1.11.2. Please check it out.

[2020-01-18 10:56] Jack-Works commented on #167
Yes, that works for me! Cool! But I found another problem when I extracting a string to a message, it will generate `"str": "my string"` instead of `"str": { message: "my string" }`.

The project is the same as above mentioned. Another feature request, does it possible to add my own refactor template? In my case, it might be something like
[code]

Thanks!

[2020-01-18 13:52] antfu commented on #167
`Extract text` didn't go through keyRewrite. I just missed that XP. It's fixed in v1.11.3.

Sounds like a good idea. Thanks! It also shipped in the latest version. And it's `refactorTemplates`, check out for custom framework guide for more details. :)

Thanks!

[2020-01-18 15:04] Jack-Works commented on #167
Thanks for your help, i18n Ally is fully working for my project!

[2020-01-20 13:13] fakenine opened #177 "Erratic behavior of live translation popup"
**Describe the bug**

When flying over a key in the editor, the popup shows a duplicate of the locales to be translated.
When applying a translation, the whole file is overwritten instead of the key being inserted in the JSON.

Note: I have set `i18n.localesPath` setting to the folder I want in VS Code

**Extension Version**
1.11.3

**Framework/i18n package you are using**
vue-i18n

**To Reproduce

[2020-01-20 13:53] antfu commented on #177
Have you tried to reload the vscode window? Can you check the extension list whether there are any duplicate extensions as well?
It seems not only i18n-ally, but eslint has duplicated problems report as well. Thanks.

[2020-01-20 14:22] fakenine commented on #177
@antfu Hello ! I've tried to do that and also to completly uninstall and reinstall VSCode...The results were the same

[2020-01-20 16:54] antfu commented on #177
Sorry I can not reproduce that. Do you have any other extension that has the same issue or just i18n ally? If so, it might not be a problem of i18n ally. If not, could you please provide a minimum repo and steps to reproduce that? Thanks!

[2020-01-21 08:46] #142 closed

[2020-01-21 10:57] fakenine commented on #177
It seems that only i18n ally does that. I tried with rubocop for instance and the messages are not duplicated.

Alas I cannot provide a minimum repo because this is happening at work on a private project.

[2020-01-21 16:12] antfu commented on #177
Can you download this repo can open one of the folders under `./examples` with your VSCode to see if the problem still exists? Thanks

[2020-01-21 16:44] fakenine commented on #177
The issue does not occur with the basic example.

I am on a Ruby On Rails project and I have two locales folders:

`config/locales` for the YAML locales used in the Ruby On Rails views with rails-i18n

`app/javascript/src/locales` for the JSON locales used in the VueJS views with vue-i18n.

I have set the following setting in VSCode:

[code]

But even if the translations are present for each keys,

[2020-01-21 17:04] antfu commented on #177
That's interesting. Can you try to add this config:

[code]

Hope that would work. Thanks.

[2020-01-21 17:06] fakenine commented on #177
@antfu That fixed it, thanks!

[2020-01-21 20:48] #177 closed

[2020-01-23 02:45] techo207 opened #178 "spanish accents no are shown correctly"
**Describe the bug**

phrases with spanish accents are not shown correctly

**Extension Version**

i18n Ally

**Framework/i18n package you are using**

18next

**To Reproduce**
Steps to reproduce the behavior:
json values with words with spanish accents are not showing correctly on editor

**Device Infomation**
 - OS: Ubunty
 - Version: 18.04
 - VSCode Version:  1.41.1

**Extension Log**
Go to `Vi

[2020-01-23 03:15] antfu commented on #178
What's your `displayLanguage` setting? You can find them and switch on the rightmost taskbar (with an eye icon).

[2020-01-23 03:35] techo207 commented on #178
display and source language are set on spanish (es)
![Captura de pantalla de 2020-01-22 21-34-47](https://user-images.githubusercontent.com/13383372/72954750-0b5c3080-3d5f-11ea-9962-93c2b143454e.png)

[2020-01-23 17:26] antfu commented on #178
@techo207 Can you provide a minimal reproduce repo for me to investigate? Thanks!

[2020-01-24 05:34] techo207 commented on #178
[minimal.zip](https://github.com/antfu/i18n-ally/files/4106917/minimal.zip)

[2020-01-24 06:04] techo207 commented on #178
i've found others bugs:
- a single character key value will be showed missplaced
- if i add a word with the letter "ñ" it resolve the spanish accent problem
![Captura de pantalla de 2020-01-23 23-58-07](https://user-images.githubusercontent.com/13383372/73047809-9eb76380-3e3c-11ea-9e67-b570d88c3855.png)
![Captura de pantalla de 2020-01-23 23-58-51](https://user-images.githubusercontent.com/1338337

[2020-01-24 06:10] techo207 commented on #178
i've discover that the single character bug has to be one letter in  "i18next.t"

[2020-01-27 02:52] gregveres opened #183 "converting text to a key isn't working"
I have a .vue file and in that vue file, I have a tag like this:
<p>Player</p>

I select Player and the lightbulb shows up with the option to "extract text into i18n messages".
I select that option and a message box pops up that asks me for the key value, I enter navbar.player.
It then asks me what text to replace Player with in the template. I choose '{{$t('navbar.player')}}.
It then asks me for

[2020-01-29 00:20] #172 closed

[2020-01-29 01:39] antfu commented on #183
Hi @gregveres. According to the output you provide, it seems like you haven't got your `localePaths` configured.
[code]

You can do that by:
[code]
Hope it work for you! Thanks.

[2020-01-29 01:45] gregveres commented on #183
I do. This is my configuration
[code]

and this is the output:
[code]

and from that SPA directory, there is a src/locales directory

[code]

[2020-01-29 01:48] antfu commented on #183
That's weird. Can you share a minimal reproduce repo for me to investigate? Thanks.

[2020-01-29 01:57] gregveres commented on #183
Ok. I will work on creating a reproducible repo. It may take me a while. I am neck deep in trying to get Vue unit testing setup on my project.

[2020-01-29 15:30] JJBocanegra opened #184 "Flat JSON is treated like nested"
**Describe the bug**
[code]

If I use `FOO` the extension fails to load the language because it seems to convert it to a nested object instead of being flat.

**Extension Version**
i18n Ally

**Framework/i18n package you are using**
vue-i18n

**To Reproduce**
1. Create a locale file like `es.json` and add the next code
[code]
2. Save it and it doesn't show as an available language.
3. Rename `FOO`

[2020-01-29 17:08] antfu commented on #184
Yes. This is a known issue. Due to the internal design of i18n ally, it always unflat the flatten keys to nested object form and flat back on writing. I am actually wondering whether it's a good practice we should allow users to do this thing. And I am also not sure if there are any i18n solutions supporting this. If there is a demand, I think I can do some hacks to the localeLoader to support tha

[2020-01-29 18:40] JJBocanegra commented on #184
Thanks for your quick answer as usual :D

If not a fix at least try to throw a better error to locate the problem, it
took me a while to find it between my nearly 1000 keys haha.

El mié., 29 ene. 2020 18:08, Anthony Fu <notifications@github.com> escribió:

[2020-01-30 03:01] gregveres commented on #183
Hi @antfu
I created a minimal repo and while I was doing that, i realized that I was setting the i18nAlly settings for the user, and not for the workspace. However, there were a couple of settings in the workspace that were causing the problem, specifically there was a "i18n-ally.localesPaths" variable setting in the workspace that was set to something non-sensical.

I removed that and it started

[2020-01-30 15:49] gregveres commented on #183
let's consider this one closed since the issue was bad config in the workspace VSCode settings. I might open another one about using typescript

[2020-01-30 15:49] #183 closed

[2020-01-30 16:06] gregveres opened #185 "typescript and json language files = compile error"
I have a project that is all typescript for the code and JSON for the language files. When I load VSCode, there is a typescript compile error in the output for i18n Ally and none of the keys show up in the explorer window.

Here is what my locales folder looks like:
locales
-en-us
--_initial.json
--index.ts
--fr
--_initial.json
--index.ts

The index.ts looks like this:
[code]
and the _initial.json

[2020-01-31 00:58] antfu commented on #185
Thanks for the feedback! I will look into that.

[2020-02-01 01:35] antfu commented on #178
@techo207 Thanks for the repo. I have just back from my vacation.

Fixed in v1.11.5. Good catch!

I see. It's due to the auto encoding detection. Specifing the encoding can fix this problem
[code]

Hope it work for you. Thanks.

[2020-02-01 08:10] antfu commented on #185
From v1.11.5, it allows specifying the enabled parsers. In your case, you can add the setting:

[code]

Hope it works for you :)

[2020-02-01 08:15] #136 closed

[2020-02-01 13:43] gregveres commented on #185
I updated to the latest version (thanks for the update!) and added the configuration. Now, according to the output tab, it found the locale files:

[code]
I will explore the functionality to make sure everything is working.

[2020-02-01 13:43] #185 closed

[2020-02-01 16:14] gregveres opened #186 "usage stats is missing use of key"
**Describe the bug**
This is a fantastic tool. You should be incredibly proud of what you have built!

Now that I have it working, I am exploring the functionality and I came across the "Usage Report". Since my project is so small, I know that all the keys I have defined are actually in use. My project is only a single component (nav bar) and unit tests for it. So I was surprised to see that 7 key

[2020-02-01 16:23] gregveres commented on #186
I recogize that this is a tricky problem to solve.

I think it is easier when you are using nested strings because it is much less likely that your string name ('component1.subcomponent.string') would be used in your source code when it didn't refer to the s tring. But if a user is using flat strings then the chances they use the same string as a key name in their code goes up.

I think in code, y

[2020-02-02 04:40] antfu commented on #186
Thanks for the feedback!

Yeah. That's a good idea, but I am concerned it to be too risky to blow the "missing keys" section (false positives). And we have supporting numbers of different frameworks. Some are not even js, `=""` does not cover all the cases (rails doesn't require the quote for example).

I have come up with some ideas:

- Magic comments
[code]
This would not only benfits the key sc

[2020-02-02 05:30] antfu commented on #150
Hi @JohanBeekers Sorry for the delay, I have just back from my vacation. But it seems I can not reproduce the problem. Can you share me a minimal repo or more info? Thanks.

[2020-02-02 18:27] gamethi opened #187 "[Framework Request]"
**What framework do you want to have? Please provide links of its i18n solution/package.**

**Please provide some overall screenshots about how the i18n usage would be like**

**Please provide a minimal starter project**

**Additional context**

[2020-02-03 13:22] thebspin opened #192 "How to extract a string to my i18n file(s)? (In a vue/nuxt project)"
So seeing the animated gif in this repo makes me believe i can extract a string.
However i am not seeing that option when i want to do a refactor in my project that is using nuxt and is using the i18n nuxt package. Now vscode is picked up and showing the translations just fine and i don't see an option for this in the settings so i must be missing something simple.. but what?

[2020-02-03 16:30] #156 closed

[2020-02-04 09:29] guidokessels commented on #184
We have the same problem in our project. Our (custom) i18n solution has no problems with this but i18n-ally doesn't like it.

@antfu Is there a possibility for you to support this? If not, do you have some pointers on how/where I could add support for this myself?

[2020-02-04 09:53] antfu commented on #184
Yes I have already planned to support that. But due to the China coronavirus situation, I have to deal some real-world problem before I dig into the implement. Thanks for understanding and keep tuned :)

[2020-02-04 14:04] phiter-monetizze opened #193 "[Framework Request] Laravel"
**What framework do you want to have? Please provide links of its i18n solution/package.**
The [Laravel Framework](https://github.com/laravel/framework).
[Here are the docs ](https://laravel.com/docs/5.7/localization) for the i18n solution.

**Please provide some overall screenshots about how the i18n usage would be like**
I assume it would work just like Vue ally. The way it works is a bit simila

[2020-02-05 07:30] zeakd opened #194 "Disable dot notation parsing."
Hi. Thanks for a great extension.

**Is your feature request related to a problem? Please describe.**

It has problem when parse these kind of translation files
[code]

**Describe the solution you'd like**

How about disabled option parsing dot notations? like i18next/i18next#513

[2020-02-05 08:29] antfu commented on #194
This is already planned, check out #184. Thanks

[2020-02-05 08:30] antfu commented on #193
No problem. Will support soon :)

[2020-02-05 08:34] antfu commented on #192
There is no settings required for that. You need to select the text you want to extract and fire up the [refactor function](https://code.visualstudio.com/docs/editor/refactoring) or click the light bulb icon on the left. Hope it helps.

[2020-02-05 08:35] antfu commented on #187
It seems like you haven't fill any details. Sorry I would close this issue for now :)

[2020-02-05 08:36] #187 closed

[2020-02-05 08:37] zeakd commented on #194
Thanks!

[2020-02-05 08:37] #194 closed

[2020-02-05 09:12] thebspin commented on #192
Hmm that's the issue, there no extract text method within my refactor function (or light bulb).

[2020-02-05 09:14] antfu commented on #192
What's the file format your are using? (.vue?)

Could you also share some screenshots of that? Thanks

[2020-02-05 09:21] thebspin commented on #192
Yes i am using .vue files!

I made a small gif for you (i'm pressing refactor outside of the screen, ctrl + shift + r does the same and i have light bulb disabled in my config during this recording but also does not show the option)
![i18](https://user-images.githubusercontent.com/203133/73828172-14d6a580-4801-11ea-8f2f-870ad3946115.gif)

If there is anything else i could do to help, plz let me kn

[2020-02-05 09:35] antfu commented on #192
Thanks. I will try to reproduce later today.

[2020-02-06 12:57] antfu commented on #184
Hi everyone, the support is landed in v1.12.0 (experimental). Please check it out, feedbacks are welcome! Thanks!

cc @JJBocanegra @guidokessels @zeakd

[2020-02-06 13:06] antfu commented on #193
Hi @phiter-monetizze I have saw there are the [php format](https://github.com/laravel/laravel/blob/master/resources/lang/en/auth.php) and json format for store locale message. Which one is more common in use for Laravel? The php one can be much harder to implement since we are only doing static analysis.

[2020-02-06 13:47] guidokessels commented on #184
That's amazing! I'll check it out tomorrow!

[2020-02-06 17:57] #152 closed

[2020-02-06 18:06] phiter-monetizze commented on #193
Oh damn. I think PHP format is the most used, since it's the default in the laravel boilerplate.

[2020-02-07 01:45] antfu commented on #193
Ok, I think I found something interesting https://github.com/rmariuzzo/php-array-loaderc. It would take a little longer to implement. Please keep tuned.

[2020-02-07 02:38] zeakd commented on #184
It works perfectly. I really appreciate it. Take your coffee!

[2020-02-07 05:31] #146 closed

[2020-02-07 05:42] antfu commented on #146
Sorry I didn't got time to watch your video. I have just get back from my vacation. I can work on this now. Is the problem still presist?

[2020-02-07 05:52] antfu commented on #192
![image](https://user-images.githubusercontent.com/11247099/74004348-830d9a80-49b0-11ea-9a05-0a67efcac860.png)

Sorry, it's Quick Fix not Refactor. The short cut on my machine is `Ctrl+.` and the light bulb should work too.

[2020-02-07 05:56] antfu commented on #193
@phiter-monetizze The experimental support is landed in v1.12.3. Please check it out. BTW I have noticed Laravel has something like namespace (similar to #122), not sure how it works. Can you try the new version out and share me some details? Thanks.

[2020-02-07 08:07] thebspin commented on #192
Quick fix indeed works thanks!
Altough it does not show for me when i manually press the lightbulb.. but i can live without :)

[2020-02-07 08:09] #192 closed

[2020-02-07 09:18] tyler36 commented on #193
Also interested in Laravel support.

[2020-02-07 12:17] guidokessels commented on #184
It works fine. Thanks a lot for the quick change!

[2020-02-07 13:10] Serhioromano commented on #146
I think so. I did not work with Joomla lately.

[2020-02-07 18:00] gcherem opened #195 "Cannot extract text from html files (Angular / ngx-translate)"
I select the text and ctrl+shift+r and it shows "no refactorings available".

Am I missing something?

PS.: My version is 1.12.3

Thanks

[2020-02-08 01:10] antfu commented on #195
It's QuickFix(`Ctrl+.`). Refer to #192. Thanks.

[2020-02-10 01:40] tyler36 commented on #193
Given the following blade template and 'en' translation file
demo.blade.php
[code]

example.php
[code]

1. UI always shows ```i18n key "example.failed" not exists``` message with blue line for ALL translations.
![not exists](https://user-images.githubusercontent.com/7234392/74115061-a58df680-4bf0-11ea-8671-921a227fbf30.jpg)

2. Translation progress shows inconsistent stats for languages. This proj

[2020-02-10 01:48] tyler36 commented on #193
Some links:
Official Laravel translation page: https://laravel.com/docs/master/localization

Community translations: https://github.com/caouecs/Laravel-lang
Laravel only includes English translations out-of-the-box. This site has 73 other language translations. It might be handy as a reference for other locales or testing encoding.

[2020-02-10 01:49] antfu commented on #193
Hi @tyler36, thanks for the feedback!

1. Ok, can confirm, I will try to make the namespace work then.

2. Can you share your translation file structure?

3. Wondering how you make it updating? The PHP format should work in READONLY mode, which means you can not write any changes to them.

[2020-02-10 02:03] tyler36 commented on #193
2. Translation file structure:
```/resources/lang/{locale}/```

[code]

So, the ```example.php``` file above would be found at ```/resources/lang/en/example.php```
[code]

If I have Japanese translation files (ja), they would be found at ```/resources/lang/ja/example.php```
[code]

[2020-02-10 02:08] tyler36 commented on #193
3. Sorry, I don't understand your question.
When I said "update" the translation, I meant I clicked on the pencil icon ("edit translation") on the ar right of the ```current file``` panel (visible in the ```inconsistant stas.jpg``` image above

[2020-02-11 02:48] antfu commented on #193
Hey guys, the *namespace* support (a.k.a filename as root key) is landed in v1.12.4. Please check it out :)

cc @phiter-monetizze @tyler36

[2020-02-11 02:52] antfu commented on #193
@tyler36

I can't tell why you got this behavior. If it's possible, could you please share me a minimal reproduce repo?

When I said "update" the translation, I meant I clicked on the pencil icon ("edit translation") on the ar right of the current file panel

We don't currently support output to PHP file (PRs are welcome). Which means you shouldn't see the "pencil" icon. Wondering why you can do t

[2020-02-11 08:36] JJBocanegra commented on #184
Awesome job as usual, thanks a lot Anthony!

[2020-02-11 08:36] #184 closed

[2020-02-12 00:50] tyler36 commented on #193
@antfu
Updated to version 1.12.4

Oops ... I now get an VS Codee error when the extension starts.
"i18n Ally Error: TypeError: Cannot read property 'split' of undefined"

Looking at the logs shows:
📂 Loading locales under %path%\vendor\scrivo\highlight.php\Highlight\languages
Invalid locale code "1c"
RangeError: Invalid language tag: 1c

🐛 ERROR: TypeError: Cannot read property 'split' of undefine

[2020-02-12 00:57] tyler36 commented on #193
Nice. This seems to be resolved 👍

A basic project only shows translation for 'en' and 'ja', as expected.  👍
Thought: I opened another project and noticed that it also scanned the vendor folders. Personally, I would prefer an option to disable this. Some vendors were very comprehensive in their translations and some not so much. The upshot being my the progress panel now shows the progress of 17 l

[2020-02-12 00:58] antfu commented on #193
@tyler36 Is the `1c` file intends to be in the languages folder? I fix the problem in 1.12.5. It will now ignore the invalid file instead of crashing.

[2020-02-12 01:01] antfu commented on #193
Is there a common folder/pattern of vendor folders in Laravel? I can make it ignore them like `node_modules` for node.js.

That's wired. Will investigate.

[2020-02-12 01:08] tyler36 commented on #193
@antfu
No ```1c``` file. In the vendor directory, there is a ```\vendor\scrivo\highlight.php\Highlight\languages\1c.json```  file which contains themes for programing languages. Is this extension detecting the 'languages' in the path and assuming a spoken language?

[2020-02-12 01:10] tyler36 commented on #193
@antfu PHP composer uses a ```vendor``` folder which is the NPM equivalent of ```node_modules```. Disabling this folder (through option or default) would also resolve the issue in the above comment.

[2020-02-12 01:13] antfu commented on #193
Yes. And it should follow the BCP47 Standard. That's the scenario in your use case?

Thanks. I will make enable it by default.

[2020-02-12 01:23] tyler36 commented on #193
OK. The extensions is getting caught up on a package: ```scrivo/highlight.php```

Looks like a ```.1C`` file is

OK so it seems like it should be a valid file.  Once the ```vendor``` folder is ignored, it won't be an issue.

Thanks for the quick follow-ups!!!

[2020-02-12 01:32] antfu commented on #193
I see. I think you can check out the `i18n-ally.localePaths` field of your setting and remove the paths of the `vendor` folder.

[2020-02-12 01:59] tyler36 commented on #193
Perfect 🎉

Once I ignored the vendor folder, the ```Translation progress shows inconsistent stats for languages``` issue disappeared too since the "programming languages" were no longer being scanned, the ```GO```, ```HY``` "translations" were no longer missing.

Thanks again for follow-through and work.  Not sure how @phiter-monetizze  feels, but I'd say you can close this.

[2020-02-12 08:51] Jack-Works commented on #167
Hi! I found that i18n-ally is no longer works, maybe there is a regression.

My configuration:

[code]

[code]

[2020-02-12 08:55] Jack-Works commented on #167
Detail: When I use vscode command: `i18nally: create a new key`, it will not write `{ "message": "..." }` but `"..."`. When I use edit on the hover panel, everything works well.

[2020-02-13 03:55] antfu commented on #167
What do you mean "no longer works"? Can you share me the output log?

Good spot! Fixed in v1.12.6. Thanks.

[2020-02-13 04:51] Jack-Works commented on #167
Thanks for your work! But I found that "extract to i18n file" refactor suggestion also get disappeared, is that expected?

![image](https://user-images.githubusercontent.com/5390719/74402535-7d57ff00-4e5f-11ea-9167-9287ef32fce9.png)

[2020-02-13 06:00] antfu commented on #167
The `extract to i18n file` works on my side. Can you provide more info? Thanks.

[2020-02-14 13:03] phiter-monetizze commented on #193
Hey! Sorry for not following this thread much.

I tested the extension in our project and it works fine! Thank you.

Now I have to convince the back-end guys in my team to use VSCode instead of Sublime and Atom lol.

I see that editting is not working yet, I believe this is due to the files being PHP and not JSON as the app is built for, but that's not a issue. Being able to see the translation is

[2020-02-14 13:58] antfu commented on #193
Good to hear that you get it working. I am closing this for now, if you got any questions free free to reopen it. Thanks

[2020-02-14 13:58] #193 closed

[2020-02-14 14:48] Fibs7000 opened #198 "Get translation from default value"
In some frameworks we can set default Values or fallback values.

It would be nice if there is no translation if we could get the Translation for the selected language from the default value.

[2020-02-14 15:32] antfu commented on #198
Hi @Fibs7000 I am not very sure I have understood your request. Can you provide some examples?

[2020-02-15 03:42] Jack-Works commented on #167
Oh, I have moved the whole project to i18n-next yesterday because my custom i18n function doesn't work well in the storybook, so maybe I should close this issue because our project can use standard i18n-next support

[2020-02-15 03:42] #167 closed

[2020-02-17 14:33] Braunson opened #201 "i18n Ally Error: TypeError: Cannot read property 'split' of undefined"
**Describe the bug**
After a clean install of this plugin I get..

[code]

**Extension Version**
i18n Ally v1.12.7

**To Reproduce**
Steps to reproduce the behavior:
1. Install VSCode
2. Install i18n Ally VS Code extension
3. Open VSCode

**Device Infomation**
 - OS: Win
 - Version: 10
 - VSCode Version: 1.42.1

[2020-02-17 15:21] antfu commented on #201
Hi @Braunson! Would love to help! Can you share with me some of your locale files that cause this problem? A minimal reproduce repo could be great, thanks!

[2020-02-17 15:44] Braunson commented on #201
@antfu For sure. This is my resources/lang https://github.com/Braunson/i18n-ally-debug-repo

[2020-02-17 16:18] antfu commented on #201
I think I found the problem! From the locale file you provide, I assume you are using Laravel. In Laravel, there is a kinda "namespace" feature, for example, keys in the `en/messages.php` file should be accessed with a prefix `messages` (a.k.a use filename as root keys). So the problem is the outside `en.json` and `ar.json`. You may consider moving them inside their locale-code folders.

I am not

[2020-02-18 02:48] haijayxc opened #202 "Support for adding namespaces through files"
**Is your feature related to a specific framework or general for this extension**
No

**Is your feature request related to a problem? Please describe.**
[code]
If my locales directory structured like this, and I want each json file to have its own namespace. For example,
[code]
then I use it this way `$t('common.title')`
**Describe the solution you'd like**

I think can add a configuration to solv

[2020-02-18 08:07] antfu commented on #202
The `fileNamespace` config is supported now in v1.12.8. Thanks for bringing this up!

[2020-02-19 14:45] NEGits opened #203 "Failed to load error with PHP file containing function in translation value"
**Describe the bug**
I've just started using this extension in my Laravel project, and it generally works fine, thanks!

I've run into one problem with a couple of my translation files: I'm using php translation files with associative arrays. Some of the values in these arrays contain PHP functions (Laravel helper functions in this case), which causes i18n ally to fail to load these files, generat

[2020-02-19 15:15] antfu commented on #203
Hi @NEGits, I would be sorry to tell you this feature is not likely to be supported in the near future. i18n ally can only do statical analysis, which means it does not really run the php file to get data. It uses [battye/php-array-parser](https://github.com/battye/php-array-parser) to load the messages. One possible way is that somehow anyone can figure out how to properly parser/interpret php fi

[2020-02-21 08:29] mbernwieser opened #205 "Extension does not work in Ember.js Template-Files"
**Describe the bug**
The extension does not work in ember.js template files (.hbs). It neither shows data in `current file`-tab in the extension menu nor does it suggest keys for autocompletion... it's like the extension wouldn't be installed. In .js-files everything works as expected.

**Extension Version**
1.12.8

**Framework/i18n package you are using**
ember-intl

**To Reproduce**
Steps to rep

[2020-02-21 11:18] antfu commented on #205
Hey @MathiasMonstrey, I didn't know there are hbs files. The support is shipped in v1.12.9. Please check it out. Thanks!

[2020-02-22 05:08] #171 closed

[2020-02-23 17:00] #173 closed

[2020-02-24 07:49] mbernwieser commented on #205
Now it works. Thank you!

[2020-02-24 07:49] #205 closed

[2020-02-24 10:18] #174 closed

[2020-02-25 11:31] segux opened #208 "Why cant write into typescript file? ERROR: write_in_readonly_mode"
**Describe the bug**

When i try to edit any translate key that project has into a typescript file, is throwing:
ERROR: write_in_readonly_mode

**Extension Version**

i18n Ally 1.12.9
**Framework/i18n package you are using**

ngx-translate
**Device Infomation**
 - OS:
 - Version:
 - VSCode Version:

**Extension Log**
🐛 ERROR: write_in_readonly_mode

[2020-02-26 10:00] Excalibaard opened #209 "Support namespace by directory for modules"
**Is your feature related to a specific framework or general for this extension**
General.

**Is your feature request related to a problem? Please describe.**
Related to, but different from the request in #202 . My file structure for translations is as such:
[code]

These files contain keys like this:
[code]

These modules are dynamically requested and merged into the translation object, nested an

[2020-02-26 10:17] ThaDaVos opened #210 "No translations showing up in progess, no inline annotations"
**Describe the bug**

The progress window shows below:
![image](https://user-images.githubusercontent.com/5251028/75334617-78944180-5888-11ea-8029-0186acbd7981.png)
I also saw, when I manually specified the locales folder as the automatic one crashes because there's a permission error in my project folder (Docker image mounted volume locally with root), the below message popup:
![image](https://us

[2020-02-26 10:43] antfu commented on #210
Hi @ThaDaVos , the Laravel i18n uses a dir struture like this:
[code]

If you use Vue to handle all the i18n parts only, you can disable the Laravel support by
[code]
Then the problem should be solved.

Thanks for spotting the typo. WIll fix.

[2020-02-26 10:48] antfu commented on #209
Hey @Excalibaard, thanks for bringing this up! I think I may need some time to consider how to support this, since we may also have a structure like this:
[code]

The quick idea that comes to my mind is that we allowing users to provide a custom js function that how the path should be handled. Let me know if you have any thoughts/ideas!

[2020-02-26 10:57] antfu commented on #208
Typescript and Javascript locales are [forced in read-only mode](https://github.com/antfu/i18n-ally#-supported-locale-formats). Since we don't have a proper way to track back where the messages are defined in js/ts. I would [recommend you switch to JSON or YAML ](https://github.com/antfu/i18n-ally#-recommend-setup)which can be better statically analyzed if it's possible. Thanks

[2020-02-26 12:28] Excalibaard commented on #209
Thanks for the quick response!

The difference between our examples comes down to `~/i18n/[lang](/[module])*/module.yml` vs `~/i18n(/[module])*/lang.yml`. Since in-/excluding the filename is already supported, it should be sufficient to check whether the path starts with a known locale to differentiate [lang] from [module]. I believe that's a safe assumption (I don't imagine people would willingly

[2020-02-26 13:52] antfu commented on #209
Wow! Your solution seems more reasonable, I will implement it soon :) Thanks

[2020-02-27 08:23] NEGits commented on #203
I see. Thanks for your comment. Decided to refactor my translations in the end.

[2020-02-27 08:23] #203 closed

[2020-02-27 08:32] ThaDaVos commented on #210
Thank you for the `"i18n-ally.enabledFrameworks": "vue"` that solved the issue -> maybe when multiple frameworks are located, ask the user which one they want to use and set this config option for the current workspace automatically?

[2020-02-27 10:02] antfu commented on #210
Thank you for the suggestion, I would consider that. The original idea is that making different frameworks works together. It's just happened to be that Larevel required some specific logic to load.

[2020-02-27 10:46] segux commented on #208
Thanks for your reply, i saw that was forced to read-only mode. But right now i need to use Typescript on my lang files, because is a library and i need to compile it.

[2020-02-27 22:11] Braunson commented on #201
Yes I'm using Laravel. Seems those files were added and currently referenced to by a third-party extension (Laravel Spark) so I cannot move them. Any idea for a way around this?

[2020-02-28 07:45] antfu commented on #201
OK, I will see if I can make them work together.

[2020-02-28 12:18] antfu commented on #201
It should be work in v1.12.10. Please check it out :)

[2020-02-29 05:34] #202 closed

[2020-02-29 05:34] #210 closed

[2020-02-29 19:19] Braunson commented on #201
Seems fixed. No errors now, thanks @antfu !

[2020-02-29 19:19] #201 closed

[2020-03-01 18:08] blondie63 opened #212 "No Translation fail"
**Describe the bug**
No Translation said 1 but there's no one..

**Extension Version**
i18n Ally 1.12.10

**Framework/i18n package you are using**
Angular 8.2.14

**Device Information**
 - OS: mac osx
 - Version: 10.15.3
 - VSCode Version: 1.42.1

**Extension Log**
no output

**Screenshots**
<img width="378" alt="i18-ally-issue1" src="https://user-images.githubusercontent.com/1261851/75631024-ac0b

[2020-03-02 09:48] antfu commented on #212
Hi @blondie63, is that possible to share a minimal reproduce repo for me? thanks.

[2020-03-02 11:02] blondie63 commented on #212
Hi @antfu i'm using this extension for many my projects, yesterday i've modified workspace settings to enable .it & .en files type then check empty, missing translations, all working fine but i see on PROGRESS tab that key counter is wrong. I've 280 for both en & it but i see 280/279
I can send you the files if it's useful..

PS. on your readme there's an error here: https://github.com/antfu/i18n-

[2020-03-03 04:30] antfu commented on #212
It would be helpful if you could provide one of the `it.json` or `en.json` file. I guess there is some kinda format that i18n ally can not handle correctly.

I will look into it, thanks.

[2020-03-03 07:38] blondie63 commented on #212
Here my files
[picmdb-trans.zip](https://github.com/antfu/i18n-ally/files/4279881/picmdb-trans.zip)

[2020-03-03 10:05] generator85 opened #215 "Translations containing non-alphanumeric characters are ignored"
**Describe the bug**
The plugin does not detect translations with any characters other than alphanumerical.

**Extension Version**
i18n Ally 1.12.10

**To Reproduce**
Steps to reproduce the behavior:
1. Open a blade file
2. Try to echo a translation, one with only alphanumerical characters and one with punctuation marks
3. Translation with non-alphanumeric characters is ignored

**Device Infomatio

[2020-03-03 11:39] blondie63 commented on #212
Today, doing nothing the problem is fixed..

[2020-03-04 01:20] antfu commented on #212
@blondie63 in en.json:270, you have a key named `You do not have permission to perform this action.` and in it.json:281 it's `You do not have permission to perform this action` which does not have the tailing period.

I also noticed that some fields are not parsed correctly, I will add a config for disabling key path parsing soon.

Thanks

[2020-03-04 03:02] antfu commented on #215
Thanks for bringing this up. Although I did that restriction on purpose since this extension is getting bigger and supporting different i18n solutions with different philosophies, I make it more config flexible.

From v1.13.0, you can enable this by:

[code]

And since you are using natural language as keys, you may also want to set this

[code]

Thanks and hope it works for you :)

[2020-03-04 08:54] taeingyu opened #216 "Support for useIntl hook"
**Is your feature related to a specific framework or general for this extension**
react-intl

**Is your feature request related to a problem? Please describe.**
`formatMessage()` of `useIntl` isn't recognized.

**Describe the solution you'd like**
expect to work as same as components like `<FormattedMessage>`

**Additional context**
https://github.com/formatjs/react-intl/blob/master/docs/API.md#us

[2020-03-04 09:05] antfu commented on #216
@taeingyu Supported in v1.13.1. Thanks!

[2020-03-04 09:18] antfu commented on #216
Oh wait, I think I misunderstand the API. Let me fix it

[2020-03-04 09:28] generator85 commented on #215
Thanks, I tried it and it works! But not in every case:

<img width="240" alt="Screenshot 2020-03-04 at 10 26 54" src="https://user-images.githubusercontent.com/2392976/75864692-b3572600-5e02-11ea-8f4a-01c37052902c.png">

Even when I disable path parsing.

[2020-03-04 10:24] taeingyu commented on #216
Wow, it's super fast! It works great now!

[2020-03-04 10:30] antfu commented on #215
Can you share me a minimal reproduce repo? Thanks

[2020-03-04 10:32] #216 closed

[2020-03-04 13:18] generator85 commented on #215
https://github.com/generator85/i18n-ally-issue-215

[2020-03-05 16:12] rankjie opened #217 "Translations not shown for nested keys"
**Describe the bug**
Nested translations inside JSON files are not shown in the editor when editing the JSON file directly.
All is fine in all other places: TREE view, using translations in code editing.

**Extension Version**
i18n Ally v1.13.3

**Framework/i18n package you are using**
vue-i18n with Nuxt.js

**To Reproduce**
Steps to reproduce the behavior:
1. Go to zh.json/en.json
2. All nested l

[2020-03-05 19:33] antfu commented on #217
Hi @rankjie, it's fixed in v1.13.4. Please check it out. Thanks!

[2020-03-05 19:44] rankjie commented on #217
Bravo!
I can confirm the issue is fixed in 1.13.4.

[2020-03-05 19:44] #217 closed

[2020-03-05 19:49] antfu commented on #215
Thanks! It should be fixed in v1.13.5.

[2020-03-07 09:02] gencer opened #218 "Support for multiple frameworks in same project"
**Is your feature related to a specific framework or general for this extension**

`ruby-rails`, `i18next` and `react`

**Is your feature request related to a problem? Please describe.**
I am working on Rails project that also includes a React application. React i18n locales and Rails' are separated. They have their own locales. However, only one framework works at the same time.

**Describe the s

[2020-03-09 01:58] #178 closed

[2020-03-10 06:12] #186 closed

[2020-03-10 06:12] #150 closed

[2020-03-11 12:47] sprietNathanael opened #221 "Inline annotations not working though keys found in usage report"
I just found this usefull plugin, and it's almost working fine. I tried to find a similar issue to mine, but didn't. It may be something obvious that I'm missing, but I've been on it for more than an hour and it does not work.

**Describe the bug**

The locales are correctly found but their annotations in the code files are not displayed.
These are my parameters :
[code]

Inline annotations are co

[2020-03-11 16:55] antfu commented on #221
There was a typo in the code and I fixed it in v1.13.6. Please check it out, thanks for the feedback!

[2020-03-11 16:59] antfu commented on #218
Thanks for your suggestions! Rails use locale code as the root of its message object, which makes it not compactable with other frameworks. I will think about how to make the configure possible for different frameworks to handle different locale files. It may take some time, please keep tuned. Thanks!

[2020-03-11 17:01] sprietNathanael commented on #221
Wow, that was quick! Thanks! And now that I can appreciate this plugin in its entirety, let me tell you how powerful and useful it is :)

[2020-03-11 17:01] #221 closed

[2020-03-14 13:32] #122 closed

[2020-03-22 16:53] #198 closed

[2020-03-24 10:19] pureliumy opened #224 "Doesn't work with Vue and vuex-i18n"
**Describe the bug**
There is an icon in the vscode sidebar, but got empty content. The app is built with `Vue.js(2.6.10)` and `Vuex-i18n(1.13.1)`, and the i18n works well, but the extension just doesn't work whether I config locale path or not.

**Extension Version**
`i18n Ally (1.13.6)`

**Framework/i18n package you are using**
`Vue.js(2.6.10)`, `vuex-i18n (1.13.1)`

**Device Infomation**
 - OS:

[2020-03-24 10:34] antfu commented on #224
Can you share your files structure under `./src/assets/i18n`? It seems no files are correctly detected

[2020-03-25 01:54] pureliumy commented on #224
@antfu Files structure like this
[code]
The locale files are default exported JavaScript object, and below is the content of `index.js` file

![image](https://user-images.githubusercontent.com/15981688/77493532-5e955100-6e7e-11ea-8179-aefa4e491b25.png)

[2020-03-25 05:18] antfu commented on #224
Changing it to `"i18n-ally.localePaths": "./src/assets/i18n/locales"` should work then.

[2020-03-26 06:47] pureliumy commented on #224
@antfu Thanks for your help,it works, but there are still some problems.
- When I select the content, the extension did nothing
![image](https://user-images.githubusercontent.com/15981688/77617119-4dc40880-6f6e-11ea-89bb-5553cb30ed44.png)
- Only one key listed in the current file window but actually there are more than 10.
- The only one listed key displays nothing except its name, and its transla

[2020-03-26 06:51] antfu commented on #224
The locales are still not loaded. Is that possible for you to share with me a minimal reproduce repo so that I can better investigate what's going on?

PS. I would recommend you to use JSON for your locales messages to get better support for i18n tools like this extension :)

[2020-03-26 07:02] pureliumy commented on #224
Sorry I can't share the repo with you due to the limitation of the network in the cloud environment, but I will try JSON later. Thanks again :)

[2020-03-30 06:55] mbernwieser opened #227 "Extract translations from code does not work in .hbs-Files (ember.js)"
**Describe the bug**
Extract translations from code does not work in .hbs-Files which are used in ember.js. `CTRL + .` does show: `No code actions available`

**Extension Version**
i18n Ally *1.13.7*

**Framework/i18n package you are using**
ember-intl

**To Reproduce**

1. Open a template-file in ember. E.g. "application.hbs"
2. Enter a non-translated string: `<p>hello world</p>`
3. Select text a

[2020-03-30 09:31] antfu commented on #227
![image](https://user-images.githubusercontent.com/11247099/77897276-090cda00-72ac-11ea-8eda-fc409bf62b2f.png)
It works for me.
Do you have `"ember" framework(s) detected, extension enabled.` this line in your Output panel?
Which ember IntelliSense extension you are using?

Thanks

[2020-03-30 12:30] mbernwieser commented on #227
Now it's working for me too. I don't know what fixed it, I haven't changed anything. The only thing I did was to restart vscode in the meantime...

I will observe if it occurs again...

Thanks for your quick response!

[2020-03-30 12:30] #227 closed

[2020-04-01 22:01] jskrepnek opened #228 "Keys in template expressions not recognized if on separate line as delimiter"
**Describe the bug**
Key is not recognized by extension if it on a separate line as the template expression delimiter.  If I manually format the line so that the key is on the same line, it is instantly recognized by i18n Ally.

We use prettier to format our templates.  Besides increasing the print width, I don't see another way to configure this kind of formatting.

**Extension Version**

1.13.7

[2020-04-01 22:41] antfu commented on #228
FIxed in 2b042c115c37286aa63702dc6f658125b0b784b5. It will be shipped in next release

[2020-04-01 23:15] jskrepnek opened #229 "Key not recognized in innerHtml binding"
**Describe the bug**

Key is not recognized by extension if it is used in an innerHtml binding expression and possibly other binding expressions?

**Extension Version**

1.13.7

**Framework/i18n package you are using**

npx-translate

**To Reproduce**
Steps to reproduce the behavior:
Add any kind of key to the translation file and then use that key in a template, formatted like this:
[code]
Notice

[2020-04-02 03:05] antfu commented on #229
Fixed in v1.13.8 along with #228. Thanks

[2020-04-02 03:13] #212 closed

[2020-04-02 03:13] #208 closed

[2020-04-02 04:15] jskrepnek commented on #228
Doesn't seem to be working.  The regex looks good though.

I noticed that it's simpler than just a new line.  It's not working even if there's two or more spaces between the `{{` and the beginning of the key like:

[code]

[2020-04-02 09:21] Epistol opened #230 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `i18n-ally`
- Extension Version: `1.13.7`
- OS Version: `Windows_NT x64 10.0.18363`
- VSCode version: `1.43.2`

GIST : https://gist.github.com/Epistol/6870d6b4cc8ddeeeac61f81bece836ec

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

[2020-04-03 02:06] jskrepnek commented on #228
Fix looks good, thanks!

[2020-04-03 02:06] #228 closed

[2020-04-03 02:06] jskrepnek commented on #229
Looks good!

[2020-04-03 02:06] #229 closed

[2020-04-03 12:14] flashspys commented on #209
This is a really great idea. We're using the same syntax (`{{ $t("module.submodule.[...].key") }}`) as @Excalibaard with the exactly same folder structure from @antfu (with an arbitrary number of subfolders of course). From our point of view this is the best way to scale i18n in a large application with tons of keys.  So adding the support of this syntax to this project would be really awsome! We'

[2020-04-04 02:17] Empty2k12 commented on #209
Big 👍 This is something that I would also enjoy!

[2020-04-04 11:10] andreash opened #231 "Current File not filled - RegEx problem"
Hi - I am on a nodejs project using i18next as a framework. It seems the extension does not scan the currently edited file - it shows nothing in the "Current File" section. I have also tried to put ".*?" into the Regex, as you suggested elsewhere.

    {
      "folders": [
        {
          "path": "."
        },
        {
          "path": "/home/andreas/SW-Projekte/next-in-line"
        }

[2020-04-04 11:28] antfu commented on #231
Can you share me a minimal reproduce repo? Thanks

[2020-04-04 12:16] andreash commented on #231
Allright - based on express generator put this together:  https://github.com/andreash/i18n-ally-test
My understanding is, that it would highlight/annotate "Express" in the routes/index.js file.

[2020-04-04 13:46] antfu commented on #231
OK, I see.

You should put your regex in `.vscode/i18n-ally-custom-framework.yml` instead of `i18n-ally.keyMatchRegex`. It's for the `{key}` part.

[code]

You can check https://github.com/antfu/i18n-ally/blob/master/docs/custom_framework.md for more details. Thanks.

[2020-04-04 14:00] andreash commented on #231
Ah, I thought this was only necessary when I indeed use a custom framework. Is it because I use a special key pattern with i18next?

[2020-04-04 14:11] andreash commented on #231
Works, great. Thank you very much!
May I ask another question? How do I configure it, such that it accepts the keys (natural language) as english text?

[2020-04-04 14:38] antfu commented on #231
Is `req.t` a standard function in i18next? If so I would love to add it.

If I am understanding right, you may want to set:
[code]

Sorry I don't get it. Can you provide me some screenshots or other info?

Thanks.

[2020-04-04 14:43] antfu commented on #209
Thanks for the feedback guys! Sorry, I got a little busy recently and now I can work on this a little.

I think I have made some progress. You can see it in #232.

[2020-04-04 15:21] antfu commented on #230
Thanks for the feedback. But I am not sure how to deal with it. This extension works fine on my machine, wondering want cause you facing the performance issue?

[2020-04-04 16:46] andreash commented on #231
Will do, and yes req.t is a standard function in i18next if you use it with the express plugin. [Here](https://github.com/i18next/i18next-express-middleware#wire-up-i18next-to-request-object) is a reference to wire up routes in express - that's basically what I did.
I did set i18n-ally.disablePathParsing to true, but the extension is still looking for an english "translation" for the english keys

[2020-04-04 17:40] antfu commented on #231
I will add the req.t to the i18next. Thanks

Can you share me some of your locale files? Thanks

[2020-04-04 20:58] andreash commented on #231
![Bildschirmfoto von 2020-04-04 22-51-39](https://user-images.githubusercontent.com/95178/78461148-e3763b00-76c6-11ea-8077-e2a7efa0da05.png)
Here is the screenshot. The key "Location could not be created" is neither in the english nor the german translation file. English is the fallback language and also the "sourceLanguage". If I click on "translate" (the earth sphere in the annotation of the "de

[2020-04-04 21:15] andreash commented on #231
BTW it seems, that with

    "i18n-ally.disablePathParsing": "true"

any period (".") in the key text leads to not recognizing the key for annotation. Also, if I would want to use the natural language keys as a default language - which would be great - then also the {{ }} for interpolation should be allowed in the key.

[2020-04-04 21:22] andreash commented on #231
BTW2: I can type German umlaut ("Ungültiger Besucher") in the translation.json, but not in the translation form fields, i18n-ally is offering. The "ü" is turned into a "?". Probably UTF-8 is not enabled?

[2020-04-04 22:15] antfu commented on #231
OK I got it. Using a key as the content to translate is not very intuitive for me. But I think when editing a non-exist key, putting the key itself as the placeholder would be doable.

Yeah, you can set "i18n-ally.keyMatchRegex": ".*?" now XD. I think I should probably set it by default when  `disablePathParsing` is set to true.

It will guess the encoding by its content. In this case, you can exp

[2020-04-05 06:21] andreash commented on #231
Yeah, it's a little old fashioned, structured keys are generally better. However, when you start building some software, it might first be more intuitive, to put some real text there. Then, after some time, the text is collected in the translation files and you get a better overview how to may be structure the keys. It would of course be great, if the extension would track changes to the keys in t

[2020-04-05 21:30] antfu commented on #231
In v1.13.9:

All you need is:
[code]

- `req.t` is added to i18next support, so you can get rid of the custom framework if you want.
- A new setting field `i18n-ally.translate.fallbackToKey` is added for your request, you can now translate from the key itself.
- Keys end with period bug is fixed.

Please update and check it out. Thanks :)

[2020-04-06 06:02] #195 closed

[2020-04-07 02:28] #209 closed

[2020-04-07 06:20] EdRands opened #238 "i18next Plurals Show As "NOT in use" in the Usage Report"
**Describe the bug**
i18next plurals are considered "NOT in use" in the Usage Report.

i18next and it's related framework plugins use a separate key for plural form, rather than a single key with a pipe separator. Example:

[code]
There are other ways plural keys are defined in languages with more complex plural forms.
[i18next documentation on plurals is here.](https://www.i18next.com/translation

[2020-04-07 07:24] antfu commented on #238
Didn't know that usage. Will add a config soon :)

[2020-04-08 12:05] Nisgrak opened #240 "Show accents in legends"
**Describe the bug**
The legend showed in t didn't support accents

**Extension Version**
i18n Ally (v1.14)

**Framework/i18n package you are using**
vue-i18n

**To Reproduce**
Steps to reproduce the behavior:
1. Write a key with value 'Población' (Population in spanish)
2. Use the key in a $t

**Device Infomation**
 - OS: Windows
 - Version: 18363.752
 - VSCode Version: 1.43.2

**Screenshots**
![

[2020-04-08 12:53] antfu commented on #240
Please try `"i18n-ally.encoding": "utf-8"`.

I will make it default instead of auto-detection in the next release. It's already made too many issues  😂

[2020-04-08 13:27] Bricklou opened #241 "All lang file are assigned as "en""
**Describe the bug**
After the auto update, all my language files are not detected instead of the "en" file.
My files are in this format:
![image](https://user-images.githubusercontent.com/15181236/78789057-ea45cc00-79ac-11ea-8b43-22b730d692ad.png)
I tried to rename them to `en.json` and `fr.json` and it doesn't work too.

**Extension Version**
1.14.1 and 1.15

**Framework/i18n package you are usi

[2020-04-08 13:41] Nisgrak commented on #240
Hahahaha, with that works like a charm, thanks and amazing extension!

[2020-04-08 13:41] #240 closed

[2020-04-08 15:07] antfu commented on #241
Can I have your configs? Thanks

[2020-04-08 15:10] Bricklou commented on #241
The extension config or the VSCode  config ?

[2020-04-08 15:14] antfu commented on #241
The extension configs. Fields that starts with "i18n-ally"

[2020-04-08 15:15] Bricklou commented on #241
[code]
I only have this config and this is a project config. I don't have any user config for the extension.

[2020-04-08 15:36] antfu commented on #241
Can confirm. FIxed in v1.15.1. Thank you!

[2020-04-08 18:47] PejmanNik commented on #230
Hi, @antfu . Thank you for your fantastic work.
I have the same issue, any change In translation file case high CPU load.
Can I help to solve it? Any starting point?
Thank you

[2020-04-08 22:49] antfu commented on #238
From v1.15.2, a new config `derivedKeyRules" is added.

Suffixes `_plural` `_0` `_1` and so on are supported [out of the box](https://github.com/antfu/i18n-ally/blob/8118a5398fcc6f1678c8e2fddc4c2865725c0146/src/frameworks/i18next/index.ts#L34-L46) for i18next.

You can also custom it by configs

[code]

Another one to be mentioned is that you can mark keys to "in use" manually.

![image](https://u

[2020-04-08 22:59] antfu commented on #230
**Hey guys! Anyone facing performance issues, please share with me the following information to help me better address the bottleneck.**

- Your settings related to "i18n-ally"
- How many locales and messages you are working on (for example, 10 locales for 10,000 messages each)
- Reproduce steps or even reproduce repo if possible

Much appreciated!

[2020-04-09 02:36] antfu opened #242 "Translating progress"
Utilize the new API to get better control over translating

https://github.com/Microsoft/vscode-extension-samples/tree/master/progress-sample

[2020-04-09 05:43] antfu commented on #97
**UPDATE**:

I have made a PR #243 for this. Please give it a try, looking forward to any feedback!

[2020-04-09 05:53] EdRands commented on #238
Fantastic. Love it! Thanks!

[2020-04-09 05:53] #238 closed

[2020-04-09 05:55] antfu commented on #230
I have made some perf optimization in v1.15.3. You can check it out and see if it makes some difference. Thanks.

[2020-04-09 11:27] roseyda opened #246 "[Framework Request] Angular-Transloco"
**What framework do you want to have? Please provide links of its i18n solution/package.**
https://github.com/ngneat/transloco
And the doc: https://netbasal.gitbook.io/transloco/translation-in-the-template/structural-directive

**Please provide some overall screenshots about how the i18n usage would be like**
<ng-container *transloco="let t">
  <p>{{ t('title') }}</p>
  <comp [title]="t('title')">

[2020-04-09 12:11] antfu commented on #246
Supported in v1.15.4 🥳

[2020-04-09 15:03] gregveres commented on #224
@pureliumy I can share with you my config that works. I am using Vue and Vue-i18n.

first my i18n plugin  file (imported from main.ts)
[code]

I store my locale files in /src/locales/{en, fr, ...} like this:
/src/locales/
     index.ts
--- en
     --- initial.json
     --- activities.json
     --- index.ts
--- fr
     --- initial.json
     --- activities.json
     --- index.ts

the locales/index.t

[2020-04-09 15:33] gregveres opened #247 "i18n Ally sidebar doesn't update when new key is added"
**Describe the bug**
I have described my configuration in issue #224 (trying to help the original poster of that issue).

The issue is that when I add a new key by using i18n, the sidebar is not updated. I just updated to the newest version and ran through the steps to verify that it is still a problem in the latest version.

1. in a vue file, I created a div with <div>there are a lot of words her

[2020-04-09 15:36] gregveres commented on #247
Since I added a bogus key to verify the above bug on the latest version of the extension, I had to remove that key. I did it by loading the en/activities.json file and removing the key and saving.

This was added to the output window:
[code]
but the sidebar remained unchanged, still showing 29 keys for en and 1 untranslated key for fr.
It really seems like the sidebar is only getting updated on pr

[2020-04-10 01:08] antfu commented on #247
Thanks for the reporting! Can confirm and it's due to "\" backlash path separators on windows.

Fix is shipped with v1.15.5. Please check it out :)

[2020-04-11 02:10] #97 closed

[2020-04-12 20:28] zstundys commented on #246
Glad that transloco has support 🎉

There's still areas that can be improved though 😉

- ["read" input property](https://ngneat.github.io/transloco/docs/translation-in-the-template#utilizing-the-read-input).

![image](https://user-images.githubusercontent.com/40335772/79079022-1cd92700-7d15-11ea-9d74-2880527483db.png)

[2020-04-13 08:11] pureliumy commented on #224
@gregveres 👍
Thank you so much for such a detail configuration, I will make some adjustments according to this.

[2020-04-13 13:15] gregveres commented on #247
@antfu Thank you very much for fixing this so quickly. Yes the fix appears to work. I would have tested it immediately, but I didn't know how to get access to 1.15.5. I just noticed I had this task outstanding and VSCode had automatically updated so I tested my workflow again and it worked as expected perfectly.

Again, thank you for this great extension!

[2020-04-13 13:15] #247 closed

[2020-04-13 13:16] gregveres commented on #224
@pureliumy glad it was useful.

[2020-04-13 15:39] huffSamuel opened #250 "Unknown error when translating strings"
**Describe the bug**
Translating from English to any other locale throws the error translating_unknown_error

**Extension Version**
i18n Ally 1.15.5

**Framework/i18n package you are using**
Attempted twice, once with flutter_i18n and once with a custom framework

**To Reproduce**
Steps to reproduce the behavior: (Note, this may be due to corporate domain, but I cannot be sure since I cannot see w

[2020-04-13 16:07] antfu commented on #250
Hi. Currently, we are using https://www.npmjs.com/package/translation.js for translating. It might be a problem with that package or the service provider. I am already working on it (on dev branch). And If you don't mind, you can try the (very unstable and unfinished) build and check if it still preserves:

[dev-20200413a](https://send.firefox.com/download/be6e33074bda97d8/#SgyWUZ1JYVe0PPb8Z79mkA)

[2020-04-13 20:09] JulianH99 commented on #246
Transloco scopes are also unsupported, but anyway I'm glad we're having transloco support. Good work!

[2020-04-14 18:58] huffSamuel commented on #250
Unfortunately I cannot access file sharing applications on my current domain.

I am unfamiliar with VSCode extension development. I downloaded the repository and attempted to run the extension in a VSCode Extension Development Host but couldn't get the extension to load. I repeatedly got the following error:
[code]

Is there something I need to do/run before being able to debug this extension? I w

[2020-04-15 03:05] antfu commented on #250
Run `npm run dev` than press F5. Hope it works.

[2020-04-15 08:33] antfu opened #252 "Namespace not parsed on "adding missing translation""
Repost from https://github.com/antfu/i18n-ally/pull/129#issuecomment-613886515 by @duongdev

------

the colon namespace value parsing work but the adding missing translation doesn't.
As you can see below (1st screenshot), my translation string is `inventoryImportRequest:products` but when I click on the Editing key, it detects the key as `inventoryImportRequest.products`, then add a wrong key to

[2020-04-15 08:52] BaptisteCool opened #253 "Exclude dynamic params from translation"
I love what you did !!

Cause in [vue-i18n](http://kazupon.github.io/vue-i18n/guide/formatting.html#named-formatting) it is possible to have some parameters in the value ex: {name}
Prevent some regex before the translation like =>  `\{.*\}` ?

example :
[code]
Baptiste 😸 .

[2020-04-15 14:41] huffSamuel commented on #250
Cool, that worked and I was able to launch the extension in a debug session.

The issue is inside the Translation.js library. It looks like it is reaching out to `117.34.61.202` and my network is blocking that request, I'm getting the error:
[code]

I'm not sure there's anything to be done from your side other than use a different translation library, but that seems like an unreasonable request th

[2020-04-15 14:41] #250 closed

[2020-04-15 16:36] antfu commented on #250
@huffSamuel Can you access google translate on your network? If so, maybe you can try to run the latest version of dev branch. I am using self-implemented api instead of translation.js now(since it's not actively maintained). You can also try with config `"i18n-ally.translate.engines": ["google-cn"]` as well.

[2020-04-15 23:31] antfu commented on #253
It's doable by simply adding a lookahead:
https://regex101.com/r/hJ7tS6/122

You will need to setup a custom framework in order to change the match regex.
https://github.com/antfu/i18n-ally/wiki/Custom-Framework

You can copy-paste the following content and try it out. I just composed that on the browser, hope it works. If you still got any questions, feel free to leave comments :)
[code]

[2020-04-16 12:08] BaptisteCool commented on #253
Hi, thanks for answer.

Sorry but I m not sure of the result.

I just want to translate all key.value but not some part of the value

example:
{
   label: "i'm {name}" translate into french : label:  "je suis {name}".
}

Baptiste.

Le jeu. 16 avr. 2020 à 01:31, Anthony Fu <notifications@github.com> a
écrit :

--
<https://www.vyte.in/baptistecoulon>

Cordialement

Baptiste Coulon

[2020-04-16 14:24] huffSamuel commented on #250
Looks like my firewall blocks Google Translate as well. Thanks for investigating this issue.

[2020-04-16 14:43] antfu commented on #253
Sorry I misunderstood your issue. I think it's more related to Google Translate. I would suggest you to do a review after machine translating since it's not that relayable.

[2020-04-16 16:06] BaptisteCool commented on #253
I saw that it is not realy possible in google translator.

i thought about something before translation like this:

1 split the terms with a regext and keep the regex part
2 translate each matching the regex ?
3 join the result

ex: "i'm {years} old" ->   ["i'm ", "{years}", " old"]

The feature is for ensure that the developer will not have to verify the
parameter name about the translation.

Le

[2020-04-16 17:30] antfu commented on #253
Sorry, I don't think that is possible. For different targeting languages, you may have different orders of words. Individually translate parts will result in unexpected results.

[2020-04-17 11:07] BaptisteCool commented on #253
yes, that another problem !

I will care about my params name unfortunately. Thank for answer at all.

Baptiste

Le jeu. 16 avr. 2020 à 19:31, Anthony Fu <notifications@github.com> a
écrit :

--
<https://www.vyte.in/baptistecoulon>

Cordialement

Baptiste Coulon

[2020-04-17 11:10] BaptisteCool commented on #253
Another idea,

Is it possible to highlight a regex on each value to have visual info about
params ?

Le ven. 17 avr. 2020 à 13:07, Baptiste Coulon <bcoulon72@gmail.com> a
écrit :

--
<https://www.vyte.in/baptistecoulon>

Cordialement

Baptiste Coulon

[2020-04-18 16:58] aleksre opened #254 "Vue-i18n: Custom number and date formats are reported as missing"
**Describe the bug**

When custom number / date formats are defined and used as intended by vue-i18n, i18n-ally reports them as missing even though they work fine at runtime.

It possible that I'm missing something about how to define these to let i18n-ally know they exist, but I could not find any information about number / date formats at all in the docs. The inline annotations screenshot seems

[2020-04-19 14:35] antfu commented on #254
Yeah, I think you are right. I will remove the detection for $d and $n in next release, thanks!

[2020-04-20 12:01] antfu commented on #230
Hi @Djobot, that was very helpful! I have made the optimization in the dev branch which will be released as v2.0 (#251). You can try the `2.0.0-alpha.2` to see if it fixes for you. Thanks!

[2020-04-20 13:55] mmokross opened #256 "Allow addtional "tokens" in the locale, additional to language and country"
**Problem**

As I was trying to organize some translations, I found myself in the situation that I need to use not only language and country to define the locale, but also a variant.

For example (not the real situation but hopefully to illustrate)
- `de` = German
- `de-DE` = German / Germany
- `de-DE-bavarian` = German / Germany / Bavarian

Using your Beta [v2.0 WiP](https://github.com/antfu/i18n

[2020-04-20 14:38] mmokross opened #257 "Order of the available locales"
**Version**
Beta [v2.0 WiP](https://github.com/antfu/i18n-ally/pull/251)
VSCode 1.44.2
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763

**Order of the available locales**
Both in the *progress view* and the *editors popup* the order of the locales seem to be broken sometimes.

**To Reproduce?**
1. create locale files `en.json`, `de.jso

[2020-04-20 14:58] antfu commented on #256
Thanks for the feedback! Currently, we only support BCP47 (and maybe just a subset of), I am planning to support more formats since Angular's native i18n support does not use BCP47, but I didn't see any demands on this. So thanks for bringing this up and I will add to v2's todo list.

BTW, can you provide me more information about how you use Java and i18n in VS Code? It's good for me as a referen

[2020-04-20 15:02] antfu commented on #257
I just happened to change that XD.

My idea would be simply:
- Source language
- Displaying language
- ...Other locales sorted by alphabet

I have no idea why I wasn't doing sorting previously 🤣

What do you think?

[2020-04-21 06:17] mmokross commented on #256
Sorry for not being clear enough:
- At my previous job - years ago, implementing Java with Eclipse - we used the *variant* part of `locale()` to localize some vendors text (like *item number*, *#*, *item#*, etc.).
- Right now I'm playing around on some hobby project - implementing in JS and PHP, and that feature came back into my mind.

[2020-04-21 06:23] mmokross commented on #257
Sounds reasonable 👍

BTW... concerning [v2.0 WiP](https://github.com/antfu/i18n-ally/pull/251): Can I verify somehow, which commit is already build into the VSIX extension provided by the download on your Pull Request page? ;) For example the linked download for i18n-ally-2.0.0-alpha.2.vsix?

[2020-04-21 06:40] mmokross opened #258 "Map iso-639 language to default iso-3166 country to retrieve country flag"
**Missing/wrong country flag**
While adding locales for different languages, I found that some flags are missing.

**Version**
Beta [v2.0 WiP](https://github.com/antfu/i18n-ally/pull/251) 2.0.0-alpha.2
VSCode 1.44.2
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763

**To Reproduce**
1. Add json locale files for en, cs, da, el for example

[2020-04-21 07:21] antfu commented on #257
Good point. I will put commit id alongside with the download link next time.

[2020-04-21 07:28] antfu commented on #258
I have added the support by

https://github.com/antfu/i18n-ally/blob/7b1a2b4374d1967498b53030edc699c03db70193/src/tagSystems/bcp47.ts#L8-L14

If you meet more of these, please feel free to make PRs.

And for the hover, I would love to have flags on it by any chance. But currently, VS Code uses markdown to display the hover. I can not control the size of the flag icon(it would fill the width). Let

[2020-04-21 07:30] antfu commented on #258
Oh, and for the default region of `en`, I am not sure if it should go with `us` or `gb`. Is there any spec document for that?

[2020-04-21 07:33] mmokross commented on #258
:+1: Cool! I'll try to have an eye on that!

About `en`: *Historically*, I suspect it should be GB. However, I have not yet found any specification. :-(

[2020-04-21 07:34] mmokross commented on #258
BTW: Do you plan to also display the review text in the popup?

[2020-04-21 07:54] antfu commented on #258
Yeah indeed. That's the one of the few things left to do for 2.0 to be ready.

[2020-04-21 11:40] antfu commented on #258
[alpha.3](https://send.firefox.com/download/ed5f76bd0a9f9c35/#NEh1O1gF51YhmzfYLVVhnQ) is avaliable now with the fix

[2020-04-21 11:43] antfu commented on #252
This is fixed in v2.0-alpha.2

[2020-04-21 11:43] #215 closed

[2020-04-21 11:43] #231 closed

[2020-04-21 11:43] #241 closed

[2020-04-21 11:59] mmokross commented on #258
Verified the fix with setting `i18n-ally.languageTagSystem: bcp47`
Thx 👍 😎

[2020-04-21 12:00] mmokross commented on #257
Verified the fix with `alpha.3`
Thx 👍 😎

[2020-04-21 12:01] antfu commented on #258
`bcp47` is actually the default setting. You can omit it :)

[2020-04-21 12:03] antfu commented on #253
params ?

Sorry I didn't understand. Can you give me some examples for that? Thanks.

[2020-04-21 12:11] mmokross commented on #256
Verified a - partial - fix with `alpha.3` and setting `i18n-ally.languageTagSystem: none`

JSON files with `variant` - like `de-DE-mr` mentioned above - are shown in the *Progress view* and the *editors popup*.

Two things ;)
1. in the *i18n Ally Editor* only locales with one or two tokens are now visible (using `none`), thus `de-DE-mr` would only be editable in the *Editors popup edit field*
1. i

[2020-04-21 12:40] antfu commented on #256
Thanks for the help with testing!

`none` literally do nothing with the locale. I don't think flags can be identified correctly since it could be anything.

Is there any reason you use `none`? I think bcp47 can handle most of the cases.

For the uppercase, it's because I want the font of the locale code to be different from other texts.  I did [an unicode trick](https://github.com/antfu/i18n-ally/

[2020-04-21 13:04] mmokross commented on #256
With `bcp47` and `legacy` the JSON `de-DE-mr` isn't displayed at all. Thus I tried `none`.

![2020-04-21 15_02_25-Settings - test2 - Visual Studio Code](https://user-images.githubusercontent.com/1681227/79869208-567af380-83e1-11ea-97c5-f5078de41ce8.png)

[2020-04-21 20:51] antfu commented on #246
Hi @JulianH99, can I have some examples of the "scopes" feature? I don't really get it from the docs.

[2020-04-21 20:58] antfu commented on #246
`read` will be supported in v2.0, #251

I have made some progress on this, but I would need to add a real html parser to support custom tags (only `ng-container` for now).
![image](https://user-images.githubusercontent.com/11247099/79912814-35ec8100-8455-11ea-9bcf-8801b0174b0e.png)

**Some questions tho**:
- Is this usage only appearing in HTML?
- Is the `.component.html` naming a requirement or j

[2020-04-21 21:01] antfu commented on #224
Closing this for now. Feel free to reopen if you still have any questions.

[2020-04-21 21:01] #224 closed

[2020-04-21 21:06] antfu commented on #256
`de-DE-mr` get normalized into `de-DE`. I should add an option to not normalize them.

[code]

Just for curious, what's the difference between `de-DE-mr` and `de-DE`?  And what would they do in real-world applications? Thanks!

[2020-04-21 22:00] mmokross commented on #256
In the situation of my hobby project
- `de` = German
- `de-DE` = German (Germany)
- `de-DE-mr` = German (Germany / Region Middlerhine) - which is nothing *official* but in the context of the appplication

So, every *token* of the locale adds another level of detail.

The application uses some abbreviations with only 2 characters like `mr`. `de-DE-bavarian` and `de-DE-mr` would have the same *level

[2020-04-21 22:02] mmokross commented on #256
For a more *official* use of locale, you can see above
- `th_TH`= Thai (Western digits) Thailand
- `th_TH_TH` = Thai (Thai digits) Thailand

[2020-04-23 02:47] antfu commented on #256
Thanks for the info! It's very interesting to know.

About `de-DE-mr`, for some reason the [bcp-47 lib](https://github.com/wooorm/bcp-47) still outputs `de-DE` even with `normalize` set to false. Thus, `none` tag system will now try to parse locales as bcp-47 to get flags. You may try it in the beta.1 release.

[2020-04-23 06:05] mmokross commented on #256
Great, thank you very much! Verified a - partial - fix with `beta.1` and setting `i18n-ally.languageTagSystem: none`

Sorry, but one thing missing: in the i18n Ally Editor `de-DE-mr` is still missing.

![i18n-ally-beta 1](https://user-images.githubusercontent.com/1681227/80064706-f9925100-8538-11ea-9dd4-5fd116689281.gif)

[2020-04-23 09:10] antfu commented on #256
Would reopening the editor solve the problem?

[2020-04-23 09:31] mmokross commented on #256
Ah, yes! Thanks for the tip!

[2020-04-24 13:03] #242 closed

[2020-04-24 13:03] #246 closed

[2020-04-24 13:03] #252 closed

[2020-04-24 13:03] #254 closed

[2020-04-24 13:03] #256 closed

[2020-04-24 13:03] #257 closed

[2020-04-24 13:03] #258 closed

[2020-04-24 14:08] renovate[bot] opened #262 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Invalid configuration option: ignore`

[2020-04-24 14:22] #262 closed

[2020-04-24 21:19] JulianH99 commented on #246
Sorry, didn't see a notification of your comment. I've tried i18ally v2 already, it looks great, but there are still some issues with transloco. For example, if my assets/i18n folder has three scopes called `login`, `register` and `validation`, for some reason, only `login` and `register` are shown in the tree of vscode widget. On the other side, it seems to completely ignore the `en.json` and `es

[2020-04-25 04:06] antfu commented on #246
@JulianH99 Thanks for the info! And for the issue you are facing, can you share me a reproduce repo so that I may do some help? If it's not possible to share code, can you provide your folder structures and Logs in the i18n Ally Output? Thanks!

[2020-04-27 05:51] tylerpanpan opened #266 "Unable to manually configure local language pack in vs code"
**Describe the bug**

In the vs code, every time the plugin is updated, the local localePaths I configured before will not work, and they will take effect after the configuration. The configuration in v2 will not take effect.
My directory is like this：
.package/
├── cn
│   ├── common.js
│   ├── sign.js
└── en
    ├── common.js
    ├── sign.js
**Extension Version**

i18n Ally v2
**Framework/i18n pa

[2020-04-27 05:53] antfu commented on #266
Hi @tylerpanpan. Sorry, I don't quite understand your issue, can you provide more information?

[2020-04-27 06:57] tylerpanpan commented on #266
Sorry,I re-edited this description

[2020-04-27 07:17] antfu commented on #266
@tylerpanpan No problem. Can you sure me your settings and the output of i18n ally? Thanks

[2020-04-27 07:25] tylerpanpan commented on #266
[code]
![image](https://user-images.githubusercontent.com/7157473/80344983-ff6e9600-889a-11ea-9973-c8c883ad49b0.png)
It will stop where the index.js file is loaded
The index.js fils is like this:
![image](https://user-images.githubusercontent.com/7157473/80345181-51afb700-889b-11ea-83ad-aeba3f601bb8.png)

[2020-04-27 08:46] tylerpanpan commented on #266
I found the problem. This v2 does not support the `require.context ('.', true, /\.js$/)` writing method. The output interface has been stuck. I hope to fix this problem.

[2020-04-27 09:32] antfu commented on #266
Ok I see. Is that ok for you to switch using "json" as your locale files? If so, I would be a lot easier to config and you will get more features provided by this extension.

If it's not possible for you to do the switch, I guess I can help with the config if you can share me the extension output(by the command "Output: Focus on the output view" then select "i18n-ally")

BTW, what's the theme you

[2020-04-27 10:04] alexcroox opened #267 "i18n-ally.enabledParsers Value is not accepted"
**Describe the bug**
Just updated to 2.0.3, and I'm adding the new config entry from the changelog and getting an error.

**Extension Version**
i18n Ally 2.0.3

**Framework/i18n package you are using**
"vue-i18n": "^8.17.4",
"vue-cli-plugin-i18n": "^1.0.1",

![ss1](https://p193.p3.n0.cdn.getcloudapp.com/items/lluD2wJ4/Screenshot%202020-04-27%20at%2011.03.15.png?v=cf6c8423381291b9773fe3456b952deb)

[2020-04-27 10:15] antfu commented on #267
Yeah. It's just a linter bug for VS Code that not accepting both string and an array of strings with enums. You can just ignore the warning now, it will work for i18n ally. I will try to find a solution later. Thanks!

[2020-04-27 10:16] SkaceKamen opened #268 "importHelpers for typescript parser should always be set to false"
**Is your feature related to a specific framework or general for this extension**
General - typescript parser

**Is your feature request related to a problem? Please describe.**
When you have `importHelpers` option set to true in your `tsconfig.json`, this option will also propagate into i18n-ally. But i18n-ally doesn't have `tslib` dependency, so the parser will crash.

[code]

**Describe the sol

[2020-04-27 10:27] alexcroox commented on #267
Ah I see didn't know a string was also supported.

My locale files are json anyway so I'm going with:

`"i18n-ally.enabledParsers": "json"` for now 👍

[2020-04-27 10:39] antfu commented on #267
If you are using "json" then you can actually omit this config, it's enabled by default.

And in fact, I am planning to remove string support for this config since VS Code seems not supporting this flexibility.

[2020-04-27 10:52] alexcroox opened #269 "No longer automatically detecting folder structure."
**Describe the bug**
In the previous 1.x version I had very minimal configuration and it detected my locale folder structure without issue. Since updating to 2.x.x I've been trying for about an hour without success to get it to recognise my structure:

`src/locales`

![ss1](https://p193.p3.n0.cdn.getcloudapp.com/items/12uyrDKQ/Screenshot%202020-04-27%20at%2011.48.54.png?v=6e4551e86589bc59ae28db673

[2020-04-27 10:58] antfu commented on #268
Fixed in v2.0.4. Thanks.

[2020-04-27 11:02] antfu commented on #269
Confirmed. It's a bug. I will try to fix now

[2020-04-27 11:40] antfu commented on #269
@alexcroox
In your case, all you need is

[code]

Please try it out

[2020-04-27 11:40] #267 closed

[2020-04-27 11:41] #268 closed

[2020-04-27 11:44] alexcroox commented on #269
Working great thanks, and WOW to the updates in 2.x.x. Incredible job thank you.

[2020-04-27 11:44] #269 closed

[2020-04-27 11:49] yubaoquan opened #270 "[FR] Add red border to untranslated text"
Make it easy to find untranslated text in a file quickly.

**Additional context**
![image](https://user-images.githubusercontent.com/2340296/80368692-b4b34500-88bf-11ea-8f5e-5268c2ec82d3.png)

[2020-04-27 11:59] yubaoquan opened #271 "[FR] Combine input word key and select language file in one step"
It it possible to add a new mode to auto generate language file from source file path?

1. User set a config value in settings, like a template/rule of generating language file.
2. After user select a text to extract and input the key, find the language file by the source file path and template in step 1.
3. If this language file exists, extract the text into the file, not ask user to select file.

[2020-04-27 12:06] antfu commented on #271
For now, every time when you are extracting texts, it will try to "guess" which file to save. Only when the "guess" failed, it will prompt the user to select one.

Your request sounds interesting but sorry I am not really sure what you mean, can you provide some more specific examples? Thanks!

[2020-04-27 12:08] antfu commented on #114
Hey guys, any good XLFF parser in js recommended?

[2020-04-27 12:19] yubaoquan commented on #271
Say I have a files like this

src/components/foo.vue
src/locales/components/foo/zh-CN.json
src/locales/components/other/zh-CN.json

and I set the pathMatcher as `{namespaces}/{locale}.{ext}`

When I extract a text, the extension will show a select with the two json files for me to select. But I think it is better to just silently extract text to src/locales/components/foo/zh-CN.json because these

[2020-04-27 13:43] JulianH99 commented on #246
Sorry to be late again. I can't share code but here is a file structure of an angular assets folder I'm currently using
![image](https://user-images.githubusercontent.com/16496346/80378956-0bd6fc80-8863-11ea-95ed-ea82944ef0af.png)
As per the output:
[code]

[2020-04-27 14:28] Esurnir opened #272 "Version 2 and above does not load my project anymore"
**Describe the bug**

I have a project whose locales were installed using vue-cli-plugin-i18n 0.6.1.

Ever since the extension updated to version 2.0.5 the project isn't loading i18n-ally.

**Extension Version**

i18n Ally version 2.0.5

**Framework/i18n package you are using**

vue-i18n 8.0
installed using vue-cli-plugin-i18n 0.6.1

**To Reproduce**
Steps to reproduce the behavior:
1. Update i18n

[2020-04-27 15:29] antfu commented on #272
That's weird, 2.0.5 does not print anything? Can you help check out the VS Code's developer console see if there is any log related to i18n ally? Thanks

[2020-04-27 15:37] antfu commented on #271
Oh ok I see. But I might need some time to think about is, since not all the people are using the same structure. I would probably end up a config to toggle this behavior. Will let you know when I am done. Thanks

[2020-04-27 15:53] Esurnir commented on #272
I apologize profusely but as someone who hasn't developped an extension I have to ask.

How do you access it?

[2020-04-27 15:59] antfu commented on #272
Help > Toggle Developer Tools

[2020-04-27 16:20] antfu commented on #246
@JulianH99  Oh I see. We call it [Namespaces](https://github.com/antfu/i18n-ally/wiki/Namespaces) here. I can't see your file structure under `login` `profile` etc. But I assume you have `en.json` and `es-es.json` in them. Hope you can make it work thru the following config:

[code]

[2020-04-27 16:23] Esurnir commented on #272
L'activation de l'extension 'antfu.i18n-ally' a échoué: ENOENT: no such file or directory, open 'c:\Users\jbzeller\.vscode\extensions\antfu.i18n-ally-2.0.5\package.nls.fr.json'.
This might help.
My visual studio code is in French.

[2020-04-27 16:32] antfu commented on #272
Oh I see. Thanks!

[2020-04-27 16:59] JulianH99 commented on #246
Oh god! it's all working now and it's seriously amazing. Thanks for the hard work on this, it really makes my life easier. Cheers :heart: Haha

[2020-04-27 17:05] antfu commented on #246
If the structure it fixed by Transloco, just let me know and I can make the setting embedded in the framework support so others can get it to work out of the box :)

[2020-04-27 17:09] antfu commented on #270
From v2.0.6 you can custom the color by
[code]

[2020-04-27 17:21] JulianH99 commented on #246
The namespaces are now being included in the tree and html templates, but root `es.json` and `en.json` are now seemed to be ignored. Is there a way to specify more than one path matcher for this case?

[2020-04-27 17:31] antfu commented on #246
Please upgrade to v2.0.7 with
[code]
Hope it works

[2020-04-27 17:52] JulianH99 commented on #246
Doesn't complain about missing translations anymore, thanks!
The only weird thing is that the three is now empty

![image](https://user-images.githubusercontent.com/16496346/80403760-c1b34280-8885-11ea-9b11-f2277bdf7c48.png)

[2020-04-27 18:04] antfu commented on #246
Maybe it's a glitch, try to reload VSCode?

[2020-04-27 18:38] JulianH99 commented on #246
Reloaded 3 times, no luck so far :(

[2020-04-27 20:02] antfu commented on #246
@JulianH99  Can you help to check the output and the devtool console? thanks

[2020-04-27 20:56] JulianH99 commented on #246
Of course! Here it is :)
[code]

[2020-04-27 21:00] antfu commented on #246
Oh I guess you missed the question mark `{namespaces?}`

[2020-04-27 21:07] JulianH99 commented on #246
I feel embarrased. Seriously sorry. It's working now. Thanks for everything!

By the way, what does this mean? It says they have no translations but those keys actually do, and when I try to go to the definition, it's not found because, well, I don't have a i18n_ally_root key
![image](https://user-images.githubusercontent.com/16496346/80420884-216b1700-88a1-11ea-9480-b3d33b704bd2.png)

[2020-04-27 21:44] antfu commented on #246
Oh wait. It's probably a bug introduced in v2. I investigate it, thanks for the info.

[2020-04-27 22:32] JulianH99 commented on #246
Sorry to bother again. I noticed something really weird when translating. See, if I have a key called `certificate.languageModal`, for example, and click on the translate button to generate it's equivalent in `es.json` file, I get the following
![image](https://user-images.githubusercontent.com/16496346/80427279-030b1880-88ad-11ea-9e9a-94e41ff2479d.png)
With a missing `c` at the start

[2020-04-28 01:57] tylerpanpan commented on #266
One Monokai Theme extension, you can search for it.
I switched to json and it didn't work.
When I commented `require.context ('.', true, /\.js$/)` it was fine.

[2020-04-28 02:25] yubaoquan commented on #270
Not working. Version: 2.0.7
![image](https://user-images.githubusercontent.com/2340296/80440039-7444dd00-893a-11ea-8ddc-7a9b04b75e68.png)

[2020-04-28 02:37] antfu commented on #266
Can you share with me a minimal repo so that I might do some help?

[2020-04-28 02:44] antfu commented on #270
![image](https://user-images.githubusercontent.com/11247099/80441265-22518680-893d-11ea-8dcc-c934ca65064e.png)

It works for me. What's the problem you are facing?

[2020-04-28 02:58] yubaoquan commented on #270
Tried in two projects. Just not showing red borders. Is there any other options needed to change to enable the feature?

![image](https://user-images.githubusercontent.com/2340296/80441922-7d37ad80-893e-11ea-84b4-9efab2b58f2f.png)
![image](https://user-images.githubusercontent.com/2340296/80441960-8f195080-893e-11ea-998c-022f1c5425de.png)
![image](https://user-images.githubusercontent.com/2340296/

[2020-04-28 03:05] tylerpanpan commented on #266
![image](https://user-images.githubusercontent.com/7157473/80442578-cb997c00-893f-11ea-8a0a-0c22d4f4ffc8.png)
I fall back to the 1.x version can be used, the 1.x version will throw this error, the 2.x version is directly stuck, I think it is good to fix it here.

[2020-04-28 03:12] antfu commented on #270
Oh I see. I have misunderstood your request.

Currently, I think it's a bit tricky to detect which texts should be treated as "untranslated" as I have mentioned in this comment: https://github.com/antfu/i18n-ally/issues/164#issuecomment-569717562

I will leave this open for now. If anyone has some good solutions/ideas, please let me know. I will also try to do some experiments on this but sorry it

[2020-04-28 03:15] antfu commented on #266
Sorry that you are facing this breaking issue. I would love to help but I can not reproduce on my side, can I get access to your code and investigate? Thanks

[2020-04-28 03:25] yubaoquan commented on #270
A vscode extension named [kiwi-linter](https://github.com/alibaba/kiwi) has this feature. Maybe can be integrated into i18n-ally.

[2020-04-28 03:40] antfu commented on #270
That's cool and good to know! Thanks.

The main concern is that it only works for Chinese. I personally don't think it's good to have "language-specific" features. Another approach might be that we could have some plug-able "dictionary" to do this job. Anyway, it's a good reference and I will think about it. Thanks!

[2020-04-28 03:50] yubaoquan commented on #270
The regex they use to match Chinese is [/[^\x00-\xff]/g](https://github.com/alibaba/kiwi/blob/master/kiwi-linter/src/const.ts#L62).

If expose the regex as a config option to user, then user can config there own rule to highlight the untranslated text.

[2020-04-28 03:53] antfu commented on #164
Reopen due to the solution proposed in #270

[2020-04-28 05:44] tylerpanpan commented on #266
Oh, I'm sorry I can't,but I will share you a minimal repo later

[2020-04-28 15:44] roseyda opened #273 "multi-translation fails with "Unable to find path for writing""
**Describe the bug**
When I launch the translation of all missing keys:
![image](https://user-images.githubusercontent.com/41294014/80507421-200c1e00-8977-11ea-956f-810bcfd5a4d6.png)

I am prompted to select which file to use:
![image](https://user-images.githubusercontent.com/41294014/80507552-3dd98300-8977-11ea-86e7-b21ca71f9ef0.png)

But at the end, only one translation is saved, for all others

[2020-04-28 17:05] antfu commented on #246
Fixed. Will be shipped in the next release.

Sorry, I can't get this situation reproduced, any clue?

[2020-04-28 17:21] antfu commented on #273
Should fix in v2.0.8. Please check it out. Thanks!

[2020-04-28 17:25] antfu commented on #266
Thanks for the repo! The js loader had an uncatched error and it's fixed in 2.0.8. You should have no problem to load your file (index.js will fail and ignored). But for performance concern, I suggest you to set `i18n-ally.ignoreFiles`. Here is the setting I did to make the repo your provide works:

[code]

Thanks!

[2020-04-28 18:32] JulianH99 commented on #246
I can share my en.json if it can help you
https://gist.github.com/JulianH99/e711a0aa9ba90fab37d9211c7b59effc

[2020-04-28 20:32] alexcroox opened #274 "Distracting jumping inline translations when typing"
Bit of a nit, mainly because it can be distracting at times. When typing, the new 2.x.x inline translation feature (which is great!) jumps around, gif demonstrating:

![gif](https://p193.p3.n0.cdn.getcloudapp.com/items/KouqZ0Jm/Screen%20Recording%202020-04-28%20at%2009.31%20pm.gif)

https://p193.p3.n0.cdn.getcloudapp.com/items/KouqZ0Jm/Screen%20Recording%202020-04-28%20at%2009.31%20pm.gif?v=7158db

[2020-04-29 01:40] tylerpanpan commented on #266
Wow，thanks，It's OK now

[2020-04-29 01:40] #266 closed

[2020-04-29 05:20] roseyda commented on #273
I confirme, I just tested it OK.
Thx for the reactivity

[2020-04-29 05:20] #273 closed

[2020-04-29 08:57] Esurnir commented on #272
I confirm everything is now working flawlessly.

The irony that a project that handle translation is defeated by its own translation isn't lost on me.

[2020-04-29 08:57] #272 closed

[2020-04-29 12:18] antfu commented on #274
Should be fixed in v2.0.9.

When I was investigating this, I also found an unintended infinite loop. Now the overall performance should also get improved! Thanks for reporting this!

[2020-04-29 20:47] kees-tce opened #275 "Cannot open php lang files from Laravel"
**Describe the bug**

**Extension Version**
2.0.9

**Framework/i18n package you are using**
Laravel

**To Reproduce**
i18n-ally never worked with a default laravel 7 application. The error shows it's trying to open up the php lang files in resources/lang, but it errors with every php file with: Failed to load Error: Undefined node "string"

This is the auth.php file the first error occurs with:
`<

[2020-04-30 01:03] MaxPeak opened #276 "No locale files loaded. Probably there is something wrong with your project config."
📣 By @antfu: If you found yourself facing the same warning, please browser the discussion in the following comments first. And if your problem didn't get solved, please leave a comment with your **`workspace settings`**, **`i18n ally Output`**, and **`screenshots of your dir structure`**.

I would love to help but be sure to provide enough information! Thanks!

-----

**Describe the bug**
No local

[2020-04-30 06:41] gutisalex commented on #276
Same on Windows 10 using WSL

[2020-04-30 07:07] antfu commented on #276
@MaxPeak @gutisalex Can you provide me your dir structure and your configs?

[2020-04-30 08:12] alexcroox commented on #274
I can confirm the latest version fixes this, thank you!!

[2020-04-30 08:12] #274 closed

[2020-04-30 08:14] MaxPeak commented on #276
![image](https://user-images.githubusercontent.com/49097525/80687907-99357d80-8afd-11ea-9bc9-e99870043a00.png)
![image](https://user-images.githubusercontent.com/49097525/80687924-9d619b00-8afd-11ea-9915-6ae7928a5ff3.png)

[2020-04-30 08:15] MaxPeak commented on #276
Everything was good before, it seems to be a problem after this update, but I'm not sure

[2020-04-30 08:18] atlesque commented on #276
We're having exactly the same problem on Windows and Linux. Definitely an issue with the latest 2.0 update and its breaking changes. The guide for updating is not clear on how you need to migrate. Additional info would definitely help. Thanks!

[2020-04-30 08:20] MaxPeak commented on #276
Yes, I'm guessing this update is to blame

[2020-04-30 08:22] MaxPeak commented on #276
Maybe you can start checking the new version of the code

[2020-04-30 09:00] antfu commented on #276
@MaxPeak You are using JS as your locale files, which is disabled by default in v2.0.

You will need config:
[code]
or using JSON/Yaml to get better support.

<sub>And I think I have mentioned this in the first line of the migration guide</sub>

[2020-04-30 09:21] MaxPeak commented on #276
Ok, thank you very much

[2020-04-30 11:40] antfu commented on #275
Hi @kees-tce. It looks fine on my side [with the example](https://github.com/antfu/i18n-ally/blob/bb2a4b9712ac34d620f6e7fe0e186e3d397146a9/examples/by-frameworks/laravel)

![image](https://user-images.githubusercontent.com/11247099/80705960-06efa280-8b1a-11ea-8e89-f8cf2427fa4d.png)

Can you share me a minimal reproduce repo?

[2020-04-30 12:11] gencer opened #277 "No locale files loaded for `react-i18next` using TS/Yaml"
**Describe the bug**
I have a workspace that contains 2 framework i18n's. Rails and React-I18Next. i18n-ally automatically scan the workspace and properly find both frameworks and their localization folder paths. But only Rails is works. Even react-i18next is identified byyour extension, its not parsed. If I manually disable rails, react is not parsed.

Error:
[code]

**Extension Version**
2.0.9

[2020-04-30 12:12] gencer commented on #277
P.S.: My settings:
[code]

[2020-04-30 12:22] gencer commented on #277
Hm.. According to my output log I see that dir structure is set to `file`. So changing it to `dir`:

[code]
solved my problem.

[2020-04-30 12:53] ThaDaVos opened #278 "[Feature Request] Browser Extension"
**Is your feature related to a specific framework or general for this extension**

No, it's related to the extension itself

**Is your feature request related to a problem? Please describe.**

Partially, currently it's really hard to see inside the browser, which text is created by which key.

**Describe the solution you'd like**

I would be amazing to have a i18n-ally browser extension, which fun

[2020-04-30 14:09] antfu commented on #277
Hi @gencer, current I think the rails support won't work with others. I understand your request and #218. To do this requires an overhaul of this project and sorry I couldn't be able to make it in v2.0. But before I doing the implementation, maybe we can figure out what we are asking for first.

First, I am wondering why would you need to use the same frameworks at the same time? I assume you are

[2020-04-30 14:18] antfu commented on #278
Wow! @ThaDaVos. Actually I am just ready to go to bed and accidentally your request popped up. Things you have proposed looks very cool and promising. I am so excited to dream about it. This will definitely be in the project's plan. Thanks for the great suggestion! 🤩

<sub>I feel like this is almost like the version 3 of Vue, I can see a lot of work to do. Looking forward to the day when it comes

[2020-04-30 14:23] gencer commented on #277
Hi @antfu.

Ah! That is totally correct. I don't want to mess up with different framework locales. Thus, I will use workspaces.

In fact, Recently we have separated our backend (Ruby on Rails) and frontend (React but still on rails) projects. This means, we can track our locales on different workspaces! Yay! Better to not mixed up here.

I wrote this for generally-speaking. Just tried that's all.

[2020-04-30 15:05] kees-tce commented on #275
I did a complete reinstall of vscode and i18n-ally just now, with a complete new laravel project (archive with laravel project here: https://drive.google.com/file/d/1E25_nbsCLLQZei4gEqtbfEAaEUEYs_EZ/view?usp=sharing)

Or create it yourself like so:
`composer create-project --prefer-dist laravel/laravel i18nallyissue`

My vscode details are:

Version: 1.44.2
Commit: ff915844119ce9485abfe8aa9076ec76

[2020-04-30 15:33] kees-tce commented on #275
Interestingly enough, I just built i18n-ally from sources and the resulting dist gave me the same error. However, if I change the main:build script to do a development build, the extension is working fine.

`"main:build": "webpack --mode development",` instead of `"main:build": "webpack --mode production",`

[2020-04-30 16:55] gutisalex commented on #276
I am using json files as recommended...

My file structure:
![image](https://user-images.githubusercontent.com/52527652/80737349-a8272a80-8b13-11ea-8790-7787e0f88fea.png)

My index.ts:
[code]

[2020-04-30 17:33] gutisalex commented on #276
Solved the issue in the settings.json:

[code]

[2020-04-30 17:51] gutisalex commented on #276
geeez thats still not working out for me! Now its always creating a new en.json file under src/lang/de as soon as I use the translate function...

[2020-04-30 18:04] gutisalex opened #279 "Creates new files when translating"
**Describe the bug**
Whenever I use the translate function in the editor, the plugin creates a new file on the wrong locale directory!

![image](https://user-images.githubusercontent.com/52527652/80743330-11f80200-8b1d-11ea-84e8-c364a0ed572a.png)

**Extension Version**
 i18n Ally  (v2.0.9)

**Framework/i18n package you are using**
vue-i18n

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2020-05-01 07:21] antfu commented on #279
That's the old logic I didn't covered in the last marjor changes. Should be fixed in v2.0.10. Thanks!

[2020-05-01 07:24] antfu commented on #275
Hmm, that's pretty weird. I have tried to config webpack to bypass `php-parser` but I got no luck. So I moved the build to development for now. And thanks for helping investigate!

[2020-05-01 09:52] ThaDaVos opened #281 "New i18n-editor fails to load when key is not defined yet"
**Describe the bug**

When you add a key for the first time and have the settings set to always use the new i18n-ally editor (because it's so amazing!) and you want to edit the new key, you're greeted by the following:
![image](https://user-images.githubusercontent.com/5251028/80797088-2c73bf00-8ba1-11ea-9e53-5541b0a87afe.png)
An empty editor...
**Extension Version**

i18n Ally v2.0.10
**Framework

[2020-05-01 10:53] ThaDaVos commented on #278
Whoaw... didn't think of a response like that 😂 - how was your dream? Any good? 😂

[2020-05-01 11:27] antfu commented on #281
Fixed in v2.0.11. Please check it out. Thanks!

[2020-05-01 11:27] #281 closed

[2020-05-01 12:40] ThaDaVos commented on #281
It's definitely fixed! Thank you!

[2020-05-01 17:14] #279 closed

[2020-05-01 17:20] gutisalex opened #282 "Missing translation globe in editor"
**Describe the bug**
When clicking on the i18n string the box which shows up is missing the translation globe.

**Extension Version**
i18n Ally (v2.1.0)

**Framework/i18n package you are using**
vue-i18n

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an i18n definition which has any translation
2. Click on the definition

**Device Infomation**
 - OS: Windows 10 WSL
 - VS Code Version:

[2020-05-01 18:57] antfu commented on #278
I made some progress: https://twitter.com/antfu7/status/1256295260423983105?s=20

Thanks so much for the idea! (and please wait, it will be great!)

[2020-05-01 19:06] ThaDaVos commented on #278
That looks so COOL!!!!

Which browsers will it work with? (I hope firefox too ;) )

[2020-05-01 19:07] ThaDaVos commented on #278
If you need testers.... sign me up!!

[2020-05-01 19:43] antfu commented on #278
It's browser independent :)

[2020-05-02 09:37] ignatandrei opened #283 "Original i8n Angular https://angular.io/guide/i18n"
**Is your feature related to a specific framework or general for this extension**
It is specific to Angular

**Is your feature request related to a problem? Please describe.**
Do you support Original i8n Angular https://angular.io/guide/i18n  ? @angular/localize ?

**Describe the solution you'd like**
I see in the frameworks list Angular  with 2 packages (

Angular(ngx-translate) | @ngx-translate/

[2020-05-02 18:58] antfu commented on #283
Hi @ignatandrei. This is actually been considered in the very early stage #114. But however I am not good at dealing XLFFs. So if anyone interested in this, PRs are welcome :) Thanks!

[2020-05-02 19:02] antfu commented on #282
It seems to work fine for me. Can you share me a minimal reproduce repo?

![image](https://user-images.githubusercontent.com/11247099/80873345-74eac400-8cea-11ea-91dd-9ed1de6a5915.png)

[2020-05-03 08:36] antfu commented on #282
Bug confirmed. I made the reproduce, and will be fixed in next release. Thanks!

[2020-05-03 09:53] #282 closed

[2020-05-03 09:54] antfu commented on #282
Fixed in v2.1.0

[2020-05-04 20:16] gencer opened #285 "v2.1.0 breaks i18n meta key preview"
**Describe the bug**
Translation preview for meta keys (18n-key) (i don't remember what those labels called :)) is broken in v2.1.0 Please see the screenshot below.

**Extension Version**
i18n Ally 2.1.0

**Framework/i18n package you are using**
react-i18next

**To Reproduce**
Steps to reproduce the behavior:
1. Install v2.1.0
2. Open a tsx file that contains translations.
3. See the mess.

**Devi

[2020-05-04 20:49] gencer commented on #285
Nope. While I update Ally to 2.1.0 I also installed a brand new tool. This brand new tool caused this issue. Removed it and everything works normal now.

Sorry for the confusion.

[2020-05-04 20:49] #285 closed

[2020-05-04 20:53] antfu commented on #285
Haha no problem. I am checking it and wondering why, cause I didn't touch the related code for this release. Glad to see your problem solved :)

[2020-05-05 00:25] JCMais opened #286 "Support Trans component with react-i18next"
**Is your feature related to a specific framework or general for this extension**
react-i18next

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Supports `<Trans>` components in some way.

**Additional context**
`react-i18next` has the `Trans` react component (https://react.i18next.com/latest/trans-component) to help on translating conten

[2020-05-05 19:29] antfu commented on #286
Actually it's supported but you have to lie the `i18nKey` right after the `Trans`:

[code]

I will make it more relax in the next release. Thanks

[2020-05-05 19:31] #275 closed

[2020-05-08 00:23] antfu commented on #286
Should be fixed in the latest release. Feel free to reopen if you have any questions.

[2020-05-08 00:23] #286 closed

[2020-05-08 02:13] Trolxy opened #291 "Custom extracting templates"
There are only these formats that I can choose.
I want to use it  in  vue v-bind attribute, but the translation is in the double quotes, leading to parsing error, so I have to modify the double quotes into single manually.
Can you add the option of editing the format?
![3](https://user-images.githubusercontent.com/63940276/81362335-2d619f00-9113-11ea-9d68-20ed0b189e83.png)
![double](https://user-i

[2020-05-08 02:21] antfu commented on #291
Valid request. I will make a config field to customize the templates. And yeah, the $t should use single quotes, it's probably a typo. Thanks.

[2020-05-08 08:04] antfu commented on #291
In 2.1.3 you can have custom refactor templates by

[code]

[2020-05-08 08:04] #291 closed

[2020-05-09 07:59] diabloevagto opened #293 "how to display key path and language context together"
in v1.15.5
![image](https://user-images.githubusercontent.com/6544024/81467809-c83ea400-920d-11ea-9c6f-35661acb4d9d.png)

in v2.1.4
![image](https://user-images.githubusercontent.com/6544024/81467843-05a33180-920e-11ea-8480-aef50f2fce99.png)
![image](https://user-images.githubusercontent.com/6544024/81467847-0b991280-920e-11ea-8afa-106bb39e52a6.png)

how to display together, thanks

[2020-05-09 08:42] antfu commented on #293
[code]

[2020-05-09 14:16] diabloevagto commented on #293
it work, but only display key when select line

![image](https://user-images.githubusercontent.com/6544024/81476125-a27fc200-9242-11ea-8c51-a1e5dc2054e8.png)

[2020-05-09 14:32] #293 closed

[2020-05-09 14:32] antfu commented on #293
Fixed in 2.1.5, please try it out :)

[2020-05-10 10:56] JustFly1984 opened #294 "vscode extension does not handle cases in JSX FormattedMessage multi-string formatting"
**Describe the bug**

in cases where I have FormattedMessage in single line, I have id replaced with english value.
this one working:
[code]
this one does not:
[code]

**Extension Version**
vscode extension antfu.i18n-ally

**Framework/i18n package you are using**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'=
3. See error

**Device Infomation**
 - OS:
 - Ver

[2020-05-10 12:00] diabloevagto commented on #293
thanks, it fixed!

[2020-05-10 19:08] albinekb opened #295 "Support for custom namespace match/separator"
**Is your feature related to a specific framework or general for this extension**

General, [next-translate](https://github.com/vinissimus/next-translate)

**Is your feature request related to a problem? Please describe.**

I'm trying to use this together with [next-translate](https://github.com/vinissimus/next-translate)
It uses the following pattern `t('namespace:key.nested')`, which I can't see